src/workflows/advanced_audit.json
{
  "name": "Advanced SDLC Security & Complexity Audit",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "trigger",
      "name": "Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Trigger\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-trigger",
      "name": "Check: Trigger",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        150,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-trigger",
      "name": "Omniscient Fix: Trigger",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        150,
        150
      ]
    },
    {
      "parameters": {
        "command": "semgrep scan --config auto /data/project"
      },
      "id": "semgrep-scan",
      "name": "Semgrep Scan",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        -50
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Semgrep Scan\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-semgrep-scan",
      "name": "Check: Semgrep Scan",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        350,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-semgrep-scan",
      "name": "Omniscient Fix: Semgrep Scan",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        350,
        100
      ]
    },
    {
      "parameters": {
        "command": "radon cc -s -a /data/project"
      },
      "id": "radon-complexity",
      "name": "Radon Complexity",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        150
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Radon Complexity\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-radon-complexity",
      "name": "Check: Radon Complexity",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        350,
        200
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-radon-complexity",
      "name": "Omniscient Fix: Radon Complexity",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        350,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"Analyze Semgrep and Radon results for security risks and bottlenecks. Results: Semgrep: {{ $node[\\\"semgrep-scan\\\"].json.stdout }}\\nRadon: {{ $node[\\\"radon-complexity\\\"].json.stdout }}\"}]"
            }
          ]
        }
      },
      "id": "ai-audit-report",
      "name": "AI Audit Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        450,
        50
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"AI Audit Report\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-ai-audit-report",
      "name": "Check: AI Audit Report",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-ai-audit-report",
      "name": "Omniscient Fix: AI Audit Report",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        200
      ]
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Check: Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Trigger": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Trigger",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Trigger": {
      "main": [
        [
          {
            "node": "Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Semgrep Scan": {
      "main": [
        [
          {
            "node": "Check: Semgrep Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Semgrep Scan": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Semgrep Scan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Semgrep Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Semgrep Scan": {
      "main": [
        [
          {
            "node": "Semgrep Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Radon Complexity": {
      "main": [
        [
          {
            "node": "Check: Radon Complexity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Radon Complexity": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Radon Complexity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Radon Complexity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Radon Complexity": {
      "main": [
        [
          {
            "node": "Radon Complexity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Audit Report": {
      "main": [
        [
          {
            "node": "Check: AI Audit Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: AI Audit Report": {
      "main": [
        [
          {
            "node": "Omniscient Fix: AI Audit Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: AI Audit Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: AI Audit Report": {
      "main": [
        [
          {
            "node": "AI Audit Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}