src/workflows/advanced_audit.json
{
  "name": "Advanced SDLC Security & Complexity Audit",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "trigger",
      "name": "Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "semgrep scan --config auto /data/project"
      },
      "id": "semgrep-scan",
      "name": "Semgrep Scan",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        -50
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "radon cc -s -a /data/project"
      },
      "id": "radon-complexity",
      "name": "Radon Complexity",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        150
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"Analyze Semgrep and Radon results for security risks and bottlenecks. Results: Semgrep: {{ $node[\\\"semgrep-scan\\\"].json.stdout }}\\nRadon: {{ $node[\\\"radon-complexity\\\"].json.stdout }}\"}]"
            }
          ]
        }
      },
      "id": "ai-audit-report",
      "name": "AI Audit Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        450,
        50
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Trigger\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "a6b67853-28f1-42a3-869d-b829e49fb457",
      "name": "Check: Trigger (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        200,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "25fc865b-7f80-40e9-bc56-a4cadeebaefe",
      "name": "Omniscient Fix: Trigger (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Semgrep Scan\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "911572fe-5cb5-4b85-b944-cb7393216c84",
      "name": "Check: Semgrep Scan (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "feb53a6b-549d-4bd2-9065-40efafa7b92a",
      "name": "Omniscient Fix: Semgrep Scan (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        -50
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Radon Complexity\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "b3d4ef81-5c5f-4b13-b11c-762daa2ef4bf",
      "name": "Check: Radon Complexity (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "4d13c3af-de49-4738-b5ec-8a5792cac770",
      "name": "Omniscient Fix: Radon Complexity (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        150
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"AI Audit Report\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "356ecfdd-60d9-4d82-b61e-5b8d082709bd",
      "name": "Check: AI Audit Report (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "0cb12b11-0f42-4914-a00e-f9498ddb48cd",
      "name": "Omniscient Fix: AI Audit Report (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        850,
        50
      ]
    }
  ],
  "connections": {
    "Check: Trigger (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Trigger (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Trigger (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Trigger (P0)": {
      "main": [
        [
          {
            "node": "Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger": {
      "main": [
        [
          {
            "node": "Check: Trigger (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Semgrep Scan (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Semgrep Scan (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Semgrep Scan (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Semgrep Scan (P0)": {
      "main": [
        [
          {
            "node": "Semgrep Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Semgrep Scan": {
      "main": [
        [
          {
            "node": "Check: Semgrep Scan (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Radon Complexity (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Radon Complexity (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Radon Complexity (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Radon Complexity (P0)": {
      "main": [
        [
          {
            "node": "Radon Complexity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Radon Complexity": {
      "main": [
        [
          {
            "node": "Check: Radon Complexity (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: AI Audit Report (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: AI Audit Report (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: AI Audit Report (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: AI Audit Report (P0)": {
      "main": [
        [
          {
            "node": "AI Audit Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Audit Report": {
      "main": [
        [
          {
            "node": "Check: AI Audit Report (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}