src/workflows/advanced_audit.json
{
  "name": "Advanced SDLC Security & Complexity Audit",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "trigger",
      "name": "Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "semgrep scan --config auto /data/project"
      },
      "id": "semgrep-scan",
      "name": "Semgrep Scan",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        -50
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "radon cc -s -a /data/project"
      },
      "id": "radon-complexity",
      "name": "Radon Complexity",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        150
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"Analyze Semgrep and Radon results for security risks and bottlenecks. Results: Semgrep: {{ $node[\\\"semgrep-scan\\\"].json.stdout }}\\nRadon: {{ $node[\\\"radon-complexity\\\"].json.stdout }}\"}]"
            }
          ]
        }
      },
      "id": "ai-audit-report",
      "name": "AI Audit Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        450,
        50
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Trigger\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "efbbd568-67e7-435f-85fc-5e410e551066",
      "name": "Check: Trigger (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        200,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "75bd9ec8-bcee-481d-949a-ab7f46ef5fd3",
      "name": "Omniscient Fix: Trigger (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Semgrep Scan\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "ad47375d-00aa-4952-99e4-77c8671872b6",
      "name": "Check: Semgrep Scan (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -150
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "a81ff23c-3f9e-4494-a958-5d151c5bdb95",
      "name": "Omniscient Fix: Semgrep Scan (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        -50
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Radon Complexity\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "54d76f5a-5142-4d39-93be-3c079b08b509",
      "name": "Check: Radon Complexity (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "eefcb911-a0be-47c2-b270-c8f9086c962d",
      "name": "Omniscient Fix: Radon Complexity (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        150
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"AI Audit Report\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "b7846bd4-35bc-4026-85ec-72535ce28b2b",
      "name": "Check: AI Audit Report (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "48ce1d52-09a8-45ed-83ed-647a4dc87f79",
      "name": "Omniscient Fix: AI Audit Report (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        850,
        50
      ]
    }
  ],
  "connections": {
    "Check: Trigger (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Trigger (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Trigger (P0)": {
      "main": [
        [
          {
            "node": "Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger": {
      "main": [
        [
          {
            "node": "Check: Trigger (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Semgrep Scan (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Semgrep Scan (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Semgrep Scan (P0)": {
      "main": [
        [
          {
            "node": "Semgrep Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Semgrep Scan": {
      "main": [
        [
          {
            "node": "Check: Semgrep Scan (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Radon Complexity (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Radon Complexity (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Radon Complexity (P0)": {
      "main": [
        [
          {
            "node": "Radon Complexity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Radon Complexity": {
      "main": [
        [
          {
            "node": "Check: Radon Complexity (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: AI Audit Report (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: AI Audit Report (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: AI Audit Report (P0)": {
      "main": [
        [
          {
            "node": "AI Audit Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Audit Report": {
      "main": [
        [
          {
            "node": "Check: AI Audit Report (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}