src/workflows/agentic_debate.json
{
  "name": "Agentic Debate Routine",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"Critique the following code proposal. Find flaws and suggest improvements.\"}, {\"role\": \"user\", \"content\": \"{{ $json.proposal }}\"}]"
            }
          ]
        }
      },
      "id": "agent-critic",
      "name": "Agent Critic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"Based on the critique, finalize the code proposal. Return ONLY the final bash command in ```.\"}, {\"role\": \"user\", \"content\": \"Original: {{ $json.proposal }}\\nCritique: {{ $json.choices[0].message.content }}\"}]"
            }
          ]
        }
      },
      "id": "agent-finalizer",
      "name": "Agent Finalizer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Agent Critic\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "0259e6f4-5d63-4d30-90d2-5300eb79ad49",
      "name": "Check: Agent Critic (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "c6cce770-14b3-4c2f-9920-a87cf44ccb87",
      "name": "Omniscient Fix: Agent Critic (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Agent Finalizer\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "e84936bd-4dab-4fc6-93b8-11153a0a3a45",
      "name": "Check: Agent Finalizer (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "026b1119-b601-4646-8cd8-c20daec6c379",
      "name": "Omniscient Fix: Agent Finalizer (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    }
  ],
  "connections": {
    "Check: Agent Critic (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Agent Critic (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Agent Critic (P0)": {
      "main": [
        [
          {
            "node": "Agent Critic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Critic": {
      "main": [
        [
          {
            "node": "Check: Agent Critic (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Agent Finalizer (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Agent Finalizer (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Agent Finalizer (P0)": {
      "main": [
        [
          {
            "node": "Agent Finalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Finalizer": {
      "main": [
        [
          {
            "node": "Check: Agent Finalizer (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}