src/workflows/agent_executor.json
{
  "name": "Agent: Generic Executor",
  "nodes": [
    {
      "parameters": {},
      "id": "input-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const jsonStr = JSON.stringify($node[\"Execute Workflow Trigger\"].json);\nreturn { \n  base64_context: Buffer.from(jsonStr).toString('base64'),\n  agent: $node[\"Execute Workflow Trigger\"].json.agent || 'development'\n};"
      },
      "id": "encode-context",
      "name": "Encode Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "command": "=python3 /data/project/src/tools/swarm_engine.py \"{{ $json.agent }}\" \"{{ $json.base64_context }}\""
      },
      "id": "execute-fractal-swarm",
      "name": "Execute Fractal Swarm",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return { \n  result: $node[\"Execute Fractal Swarm\"].json.stdout,\n  agent: $node[\"Encode Context\"].json.agent\n};"
      },
      "id": "format-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Execute Fractal Swarm\"].error !== undefined || $node[\"Execute Fractal Swarm\"].json.stdout.includes('Error:') }",
              "value2": true
            }
          ]
        }
      },
      "id": "07cac65e-39d9-4933-8520-804e7dfc26f5",
      "name": "Check Swarm Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "afc95ba2-703d-4886-88c6-b8d5190f004e",
      "name": "Omniscient Fix",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Encode Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encode Context": {
      "main": [
        [
          {
            "node": "Execute Fractal Swarm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Fractal Swarm": {
      "main": [
        [
          {
            "node": "Check Swarm Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Swarm Error": {
      "main": [
        [
          {
            "node": "Omniscient Fix",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix": {
      "main": [
        [
          {
            "node": "Execute Fractal Swarm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}