src/workflows/api_docs_routine.json
{
  "name": "Autonomous API Documentation",
  "nodes": [
    {
      "parameters": {
        "interval": 1,
        "unit": "days"
      },
      "id": "daily-trigger",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "find /data/project -type f -maxdepth 3 -not -path '*/.*'"
      },
      "id": "list-files",
      "name": "List Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"List Files\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-list-files",
      "name": "Check: List Files",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        350,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-list-files",
      "name": "Omniscient Fix: List Files",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        350,
        150
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You are a technical writer. Scan these files: {{ $json.stdout }}. Generate or update an OpenAPI/Swagger yaml file for the APIs found in the project. Return ONLY the yaml content.\"}]"
            }
          ]
        }
      },
      "id": "ai-doc-generator",
      "name": "AI Doc Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        450,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"AI Doc Generator\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-ai-doc-generator",
      "name": "Check: AI Doc Generator",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-ai-doc-generator",
      "name": "Omniscient Fix: AI Doc Generator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        150
      ]
    },
    {
      "parameters": {
        "command": "echo '{{ $json.choices[0].message.content }}' > /data/project/swagger.yaml"
      },
      "id": "save-docs",
      "name": "Save Docs",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        700,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Save Docs\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-save-docs",
      "name": "Check: Save Docs",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        850,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-save-docs",
      "name": "Omniscient Fix: Save Docs",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        850,
        150
      ]
    }
  ],
  "connections": {
    "List Files": {
      "main": [
        [
          {
            "node": "Check: List Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: List Files": {
      "main": [
        [
          {
            "node": "Omniscient Fix: List Files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: List Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: List Files": {
      "main": [
        [
          {
            "node": "List Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Doc Generator": {
      "main": [
        [
          {
            "node": "Check: AI Doc Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: AI Doc Generator": {
      "main": [
        [
          {
            "node": "Omniscient Fix: AI Doc Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: AI Doc Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: AI Doc Generator": {
      "main": [
        [
          {
            "node": "AI Doc Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Docs": {
      "main": [
        [
          {
            "node": "Check: Save Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Save Docs": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Save Docs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Save Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Save Docs": {
      "main": [
        [
          {
            "node": "Save Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}