src/workflows/api_docs_routine.json
{
  "name": "Autonomous API Documentation",
  "nodes": [
    {
      "parameters": {
        "interval": 1,
        "unit": "days"
      },
      "id": "daily-trigger",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "find /data/project -type f -maxdepth 3 -not -path '*/.*'"
      },
      "id": "list-files",
      "name": "List Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You are a technical writer. Scan these files: {{ $json.stdout }}. Generate or update an OpenAPI/Swagger yaml file for the APIs found in the project. Return ONLY the yaml content.\"}]"
            }
          ]
        }
      },
      "id": "ai-doc-generator",
      "name": "AI Doc Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        450,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "echo '{{ $json.choices[0].message.content }}' > /data/project/swagger.yaml"
      },
      "id": "save-docs",
      "name": "Save Docs",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        700,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"List Files\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "7e0bf479-2cbd-46e4-af0b-e6cd4010673b",
      "name": "Check: List Files (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "8245414e-4ee6-4f9f-b428-2d333fee7a8c",
      "name": "Omniscient Fix: List Files (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"AI Doc Generator\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "2e7cdf42-306e-43be-af5a-091f7abb1c28",
      "name": "Check: AI Doc Generator (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "b20e0664-8cde-48ec-93fb-50ef75700f26",
      "name": "Omniscient Fix: AI Doc Generator (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        850,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Save Docs\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "324f9e7d-3eae-4881-b2ce-7f22263d08c6",
      "name": "Check: Save Docs (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fedaad56-baf7-4263-976d-439899ace43c",
      "name": "Omniscient Fix: Save Docs (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1100,
        0
      ]
    }
  ],
  "connections": {
    "Check: List Files (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: List Files (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: List Files (P0)": {
      "main": [
        [
          {
            "node": "List Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Files": {
      "main": [
        [
          {
            "node": "Check: List Files (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: AI Doc Generator (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: AI Doc Generator (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: AI Doc Generator (P0)": {
      "main": [
        [
          {
            "node": "AI Doc Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Doc Generator": {
      "main": [
        [
          {
            "node": "Check: AI Doc Generator (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Save Docs (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Save Docs (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Save Docs (P0)": {
      "main": [
        [
          {
            "node": "Save Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Docs": {
      "main": [
        [
          {
            "node": "Check: Save Docs (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}