src/workflows/api_docs_routine.json
{
  "name": "Autonomous API Documentation",
  "nodes": [
    {
      "parameters": {
        "interval": 1,
        "unit": "days"
      },
      "id": "daily-trigger",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "find /data/project -type f -maxdepth 3 -not -path '*/.*'"
      },
      "id": "list-files",
      "name": "List Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You are a technical writer. Scan these files: {{ $json.stdout }}. Generate or update an OpenAPI/Swagger yaml file for the APIs found in the project. Return ONLY the yaml content.\"}]"
            }
          ]
        }
      },
      "id": "ai-doc-generator",
      "name": "AI Doc Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        450,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "echo '{{ $json.choices[0].message.content }}' > /data/project/swagger.yaml"
      },
      "id": "save-docs",
      "name": "Save Docs",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        700,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"List Files\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "82888bb8-b6f2-4432-9b3a-2aa383f286a8",
      "name": "Check: List Files (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "05570664-cf93-4ad6-8355-94aa45371d5a",
      "name": "Omniscient Fix: List Files (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"AI Doc Generator\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "62fdd85c-9d47-40a8-a51f-7769f95338f1",
      "name": "Check: AI Doc Generator (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "77d8c614-da72-4d57-baad-f02ef9e70543",
      "name": "Omniscient Fix: AI Doc Generator (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        850,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Save Docs\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "cf0445ae-1291-4e29-be76-4469bc959e7d",
      "name": "Check: Save Docs (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "24971428-f09a-4d04-b00b-044e75bbdd6a",
      "name": "Omniscient Fix: Save Docs (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1100,
        0
      ]
    }
  ],
  "connections": {
    "Check: List Files (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: List Files (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: List Files (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: List Files (P0)": {
      "main": [
        [
          {
            "node": "List Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Files": {
      "main": [
        [
          {
            "node": "Check: List Files (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: AI Doc Generator (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: AI Doc Generator (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: AI Doc Generator (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: AI Doc Generator (P0)": {
      "main": [
        [
          {
            "node": "AI Doc Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Doc Generator": {
      "main": [
        [
          {
            "node": "Check: AI Doc Generator (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Save Docs (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Save Docs (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Save Docs (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Save Docs (P0)": {
      "main": [
        [
          {
            "node": "Save Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Docs": {
      "main": [
        [
          {
            "node": "Check: Save Docs (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}