src/workflows/arch_optimizer.json
{
  "name": "Neural Architecture Optimizer",
  "nodes": [
    {
      "parameters": {
        "interval": 1,
        "unit": "weeks"
      },
      "id": "weekly-trigger",
      "name": "Weekly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "python3 /data/project/src/tools/legacy_modernizer.py /data/project"
      },
      "id": "legacy-scan",
      "name": "Legacy Scan",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You are a systems architect. Based on the legacy scan: {{ $json.stdout }}, propose a modern, optimized neural architecture upgrade for the project.\"}]"
            }
          ]
        }
      },
      "id": "arch-optimizer",
      "name": "Arch Optimizer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Legacy Scan\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "3cb54719-8b80-4312-bbfa-37084c77c5ae",
      "name": "Check: Legacy Scan (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "a8c31d0a-d9e8-4375-b64f-71aeb52ac878",
      "name": "Omniscient Fix: Legacy Scan (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Arch Optimizer\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "3c80bf9c-a47e-43e6-8524-33afdc2c9562",
      "name": "Check: Arch Optimizer (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "c4b2c2d0-0f82-4be4-b796-fed1788bf42e",
      "name": "Omniscient Fix: Arch Optimizer (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    }
  ],
  "connections": {
    "Check: Legacy Scan (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Legacy Scan (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Legacy Scan (P0)": {
      "main": [
        [
          {
            "node": "Legacy Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Legacy Scan": {
      "main": [
        [
          {
            "node": "Check: Legacy Scan (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Arch Optimizer (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Arch Optimizer (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Arch Optimizer (P0)": {
      "main": [
        [
          {
            "node": "Arch Optimizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arch Optimizer": {
      "main": [
        [
          {
            "node": "Check: Arch Optimizer (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}