src/workflows/autonomous_fixing.json
{
  "name": "Autonomous Fixing Loop",
  "nodes": [
    {
      "parameters": {
        "interval": 30,
        "unit": "minutes"
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "python3 /data/project/src/tools/super_scanner.py /data/project"
      },
      "id": "find-gaps",
      "name": "Find Gaps/Placeholders",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"Propose fixes for found gaps. Return bash in ```. Issues: {{ $json.stdout }}\"}]"
            }
          ]
        }
      },
      "id": "ai-fix-generator",
      "name": "AI Fix Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const content = $node[\"AI Fix Generator\"].json.choices[0].message.content;\nconst match = content.match(/```(?:bash|sh)?\\n([\\s\\S]*?)\\n```/);\nconst command = match ? match[1].trim() : content.trim();\n\n// Robust Sanitization\nconst blocked = [\n  \"rm \", \"mkfs\", \"shutdown\", \"reboot\", \"mv /\", \"dd \", \n  \"> /dev/sd\", \":(){:|:&};:\", \"chmod -R 777\", \"chown -R\", \n  \"wget \", \"curl \", \"nc \", \"bash -i\", \"telnet\"\n];\n\nif (blocked.some(b => command.includes(b))) {\n  throw new Error(`CRITICAL SECURITY ALERT: Dangerous command blocked: ${command}`);\n}\n\n// Ensure command stays within project directory if possible\nconst absolutePaths = command.match(/\\b\\/(?:[^ \\t\\r\\n\"'`;|&]+)/g) || [];\nfor (const path of absolutePaths) {\n  if (!path.startsWith('/data/project')) {\n    throw new Error(\"Escapement attempt detected: Command references absolute paths outside of /data/project\");\n  }\n}\n\nreturn { command };"
      },
      "id": "sanitize-fix",
      "name": "Sanitize Fix",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=cd /data/project && {{ $json.command }} && (npm test || pytest || true)"
      },
      "id": "apply-fix",
      "name": "Apply Fix",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "cd /data/project && git add . && git commit -m \"Autonomous fix applied\" && git push || echo \"No changes to commit\""
      },
      "id": "git-commit-push",
      "name": "Git Commit & Push",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1000,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "fix-failed-notification",
      "name": "Fix Failed Notification",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1000,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Find Gaps/Placeholders\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "e191d9ea-3720-43b2-be80-d941fd0a2842",
      "name": "Check: Find Gaps/Placeholders (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "e3c7a0ca-a289-4b70-8f7c-b644727c9ea1",
      "name": "Omniscient Fix: Find Gaps/Placeholders (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"AI Fix Generator\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "1c25cc02-3e83-41bc-857f-41eb8cd269e1",
      "name": "Check: AI Fix Generator (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "ac4af703-2799-4691-bfcd-0cc765949415",
      "name": "Omniscient Fix: AI Fix Generator (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Sanitize Fix\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "cbabd14f-2f2e-4730-b71b-3ff4756ea5b7",
      "name": "Check: Sanitize Fix (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "0ad3dc4a-5f90-4750-8eff-c0632de9bed9",
      "name": "Omniscient Fix: Sanitize Fix (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Apply Fix\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "986b3d6e-f03b-42aa-9ba0-b9e187f5fd25",
      "name": "Check: Apply Fix (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "16abb71b-77af-4a0c-b0c9-ac48c97fcb87",
      "name": "Omniscient Fix: Apply Fix (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Git Commit & Push\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "1b55c412-ddf4-4b94-aab6-cae7cfc08e7a",
      "name": "Check: Git Commit & Push (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1200,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "7d7771ac-1cf0-4823-8461-b90257e67bca",
      "name": "Omniscient Fix: Git Commit & Push (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1400,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Fix Failed Notification\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "107bdba1-c604-4925-a0d7-a9522c53a864",
      "name": "Check: Fix Failed Notification (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1200,
        150
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "95c815e1-4675-495c-996f-fe1e50cb6d6b",
      "name": "Omniscient Fix: Fix Failed Notification (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1400,
        200
      ]
    }
  ],
  "connections": {
    "Check: Find Gaps/Placeholders (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Find Gaps/Placeholders (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Find Gaps/Placeholders (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Find Gaps/Placeholders (P0)": {
      "main": [
        [
          {
            "node": "Find Gaps/Placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Gaps/Placeholders": {
      "main": [
        [
          {
            "node": "Check: Find Gaps/Placeholders (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: AI Fix Generator (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: AI Fix Generator (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: AI Fix Generator (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: AI Fix Generator (P0)": {
      "main": [
        [
          {
            "node": "AI Fix Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Fix Generator": {
      "main": [
        [
          {
            "node": "Check: AI Fix Generator (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Sanitize Fix (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Sanitize Fix (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Sanitize Fix (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Sanitize Fix (P0)": {
      "main": [
        [
          {
            "node": "Sanitize Fix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Fix": {
      "main": [
        [
          {
            "node": "Check: Sanitize Fix (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Apply Fix (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Apply Fix (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Apply Fix (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Apply Fix (P0)": {
      "main": [
        [
          {
            "node": "Apply Fix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Fix": {
      "main": [
        [
          {
            "node": "Check: Apply Fix (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Git Commit & Push (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Git Commit & Push (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Git Commit & Push (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Git Commit & Push (P0)": {
      "main": [
        [
          {
            "node": "Git Commit & Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Commit & Push": {
      "main": [
        [
          {
            "node": "Check: Git Commit & Push (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Fix Failed Notification (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Fix Failed Notification (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Fix Failed Notification (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Fix Failed Notification (P0)": {
      "main": [
        [
          {
            "node": "Fix Failed Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Failed Notification": {
      "main": [
        [
          {
            "node": "Check: Fix Failed Notification (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}