src/workflows/autonomous_sdlc_agent.json
{
  "name": "Master Autonomous SDLC Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "user-request",
      "name": "User Request Trigger",
      "type": "n8n-nodes-base.chatTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": "task_orchestrator"
      },
      "id": "plan-and-code",
      "name": "Plan & Code",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": "sdlc_main"
      },
      "id": "verify-and-audit",
      "name": "Verify & Audit",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": "autonomous_fixing"
      },
      "id": "gap-fixing-loop",
      "name": "Gap Fixing Loop",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": "infrastructure_deploy"
      },
      "id": "deploy-infrastructure",
      "name": "Deploy Infrastructure",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return { status: 'Mission Accomplished', report: 'The Autonomous SDLC Agent has completed the cycle from ideation to deployment with full self-healing coverage.' };"
      },
      "id": "final-report",
      "name": "Final Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Plan & Code\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "3713b45f-27cf-4ac8-8516-a9b7618fd239",
      "name": "Check: Plan & Code (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "394ca8d3-c145-4dac-9a8a-6614f680b3da",
      "name": "Omniscient Fix: Plan & Code (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Verify & Audit\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "60ddeddf-7933-4225-add2-ec4c81da5769",
      "name": "Check: Verify & Audit (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "86a5fad9-fdef-442b-b4cb-b4c6d6aba212",
      "name": "Omniscient Fix: Verify & Audit (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Gap Fixing Loop\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "7cbe8cba-416b-41ad-9b1c-1791f2051529",
      "name": "Check: Gap Fixing Loop (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "c2c87797-8251-4aa1-a6e9-23450d5f3009",
      "name": "Omniscient Fix: Gap Fixing Loop (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Deploy Infrastructure\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "1c0e2f0b-59da-462f-80b6-ac4a3115aca5",
      "name": "Check: Deploy Infrastructure (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "d2d0e7ec-4a4f-4d6e-a935-6384b1cd4a36",
      "name": "Omniscient Fix: Deploy Infrastructure (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Final Report\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "23e37ad0-d3af-4cd1-a0b4-668445d2915a",
      "name": "Check: Final Report (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1200,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "4dde7c9e-3558-4ad1-994d-58e6eaa404dd",
      "name": "Omniscient Fix: Final Report (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1400,
        0
      ]
    }
  ],
  "connections": {
    "User Request Trigger": {
      "main": [
        [
          {
            "node": "Plan & Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Plan & Code (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Plan & Code (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verify & Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Plan & Code (P0)": {
      "main": [
        [
          {
            "node": "Plan & Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan & Code": {
      "main": [
        [
          {
            "node": "Check: Plan & Code (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Verify & Audit (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Verify & Audit (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gap Fixing Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Verify & Audit (P0)": {
      "main": [
        [
          {
            "node": "Verify & Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify & Audit": {
      "main": [
        [
          {
            "node": "Check: Verify & Audit (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Gap Fixing Loop (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Gap Fixing Loop (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deploy Infrastructure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Gap Fixing Loop (P0)": {
      "main": [
        [
          {
            "node": "Gap Fixing Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gap Fixing Loop": {
      "main": [
        [
          {
            "node": "Check: Gap Fixing Loop (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Deploy Infrastructure (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Deploy Infrastructure (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Deploy Infrastructure (P0)": {
      "main": [
        [
          {
            "node": "Deploy Infrastructure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deploy Infrastructure": {
      "main": [
        [
          {
            "node": "Check: Deploy Infrastructure (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Final Report (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Final Report (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Final Report (P0)": {
      "main": [
        [
          {
            "node": "Final Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Report": {
      "main": [
        [
          {
            "node": "Check: Final Report (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}