src/workflows/autonomous_fixing.json
{
  "name": "Autonomous Fixing Loop",
  "nodes": [
    {
      "parameters": {
        "interval": 30,
        "unit": "minutes"
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "python3 /data/project/src/tools/super_scanner.py /data/project"
      },
      "id": "find-gaps",
      "name": "Find Gaps/Placeholders",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"Propose fixes for found gaps. Return bash in ```. Issues: {{ $json.stdout }}\"}]"
            }
          ]
        }
      },
      "id": "ai-fix-generator",
      "name": "AI Fix Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const content = $node[\"AI Fix Generator\"].json.choices[0].message.content;\nconst match = content.match(/```(?:bash|sh)?\\n([\\s\\S]*?)\\n```/);\nconst command = match ? match[1].trim() : content.trim();\n\n// Robust Sanitization\nconst blocked = [\n  \"rm \", \"mkfs\", \"shutdown\", \"reboot\", \"mv /\", \"dd \", \n  \"> /dev/sd\", \":(){:|:&};:\", \"chmod -R 777\", \"chown -R\", \n  \"wget \", \"curl \", \"nc \", \"bash -i\", \"telnet\"\n];\n\nif (blocked.some(b => command.includes(b))) {\n  throw new Error(`CRITICAL SECURITY ALERT: Dangerous command blocked: ${command}`);\n}\n\n// Ensure command stays within project directory if possible\nconst absolutePaths = command.match(/\\b\\/(?:[^ \\t\\r\\n\"'`;|&]+)/g) || [];\nfor (const path of absolutePaths) {\n  if (!path.startsWith('/data/project')) {\n    throw new Error(\"Escapement attempt detected: Command references absolute paths outside of /data/project\");\n  }\n}\n\nreturn { command };"
      },
      "id": "sanitize-fix",
      "name": "Sanitize Fix",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=cd /data/project && {{ $json.command }} && (npm test || pytest || true)"
      },
      "id": "apply-fix",
      "name": "Apply Fix",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "cd /data/project && git add . && git commit -m \"Autonomous fix applied\" && git push || echo \"No changes to commit\""
      },
      "id": "git-commit-push",
      "name": "Git Commit & Push",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1000,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "fix-failed-notification",
      "name": "Fix Failed Notification",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1000,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Find Gaps/Placeholders\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "d2449151-ca69-43e9-b540-41b609a3a554",
      "name": "Check: Find Gaps/Placeholders (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "a5cbabcd-bebc-4b9b-88bd-a8ed35df77df",
      "name": "Omniscient Fix: Find Gaps/Placeholders (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"AI Fix Generator\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "d836d0c5-75b5-424f-8a40-3f63c5ff6b37",
      "name": "Check: AI Fix Generator (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "2a244599-8b02-4683-8cd5-4406f2ec3d3a",
      "name": "Omniscient Fix: AI Fix Generator (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Sanitize Fix\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "08af4e0f-924d-4c03-bcd4-58bbde162bc4",
      "name": "Check: Sanitize Fix (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "4f9ce5ce-0c18-454f-84c5-1bec8660f1e5",
      "name": "Omniscient Fix: Sanitize Fix (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Apply Fix\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "08b5b76a-0b12-4be7-ac1b-19cb8c9655e5",
      "name": "Check: Apply Fix (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "a6049a0d-6ea5-4c92-a7a5-3092fd310b79",
      "name": "Omniscient Fix: Apply Fix (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Git Commit & Push\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "a9ecf58e-26b2-4053-b5ab-575e7e23fbec",
      "name": "Check: Git Commit & Push (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1200,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "24227207-1971-4873-8c6f-4f8f53957a18",
      "name": "Omniscient Fix: Git Commit & Push (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1400,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Fix Failed Notification\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "e2c2b08c-4eb9-4fe0-951e-775081458f71",
      "name": "Check: Fix Failed Notification (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1200,
        100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "96219e69-fc72-48b5-a661-f7c3bd93af88",
      "name": "Omniscient Fix: Fix Failed Notification (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1400,
        200
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Find Gaps/Placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Find Gaps/Placeholders (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Find Gaps/Placeholders (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Fix Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Find Gaps/Placeholders (P0)": {
      "main": [
        [
          {
            "node": "Find Gaps/Placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Gaps/Placeholders": {
      "main": [
        [
          {
            "node": "Check: Find Gaps/Placeholders (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: AI Fix Generator (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: AI Fix Generator (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sanitize Fix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: AI Fix Generator (P0)": {
      "main": [
        [
          {
            "node": "AI Fix Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Fix Generator": {
      "main": [
        [
          {
            "node": "Check: AI Fix Generator (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Sanitize Fix (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Sanitize Fix (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Apply Fix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Sanitize Fix (P0)": {
      "main": [
        [
          {
            "node": "Sanitize Fix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Fix": {
      "main": [
        [
          {
            "node": "Check: Sanitize Fix (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Apply Fix (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Apply Fix (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Git Commit & Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Apply Fix (P0)": {
      "main": [
        [
          {
            "node": "Apply Fix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Fix": {
      "main": [
        [
          {
            "node": "Check: Apply Fix (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Git Commit & Push (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Git Commit & Push (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Git Commit & Push (P0)": {
      "main": [
        [
          {
            "node": "Git Commit & Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Commit & Push": {
      "main": [
        [
          {
            "node": "Check: Git Commit & Push (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Fix Failed Notification (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Fix Failed Notification (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Fix Failed Notification (P0)": {
      "main": [
        [
          {
            "node": "Fix Failed Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Failed Notification": {
      "main": [
        [
          {
            "node": "Check: Fix Failed Notification (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}