src/workflows/autonomous_fixing.json
{
  "name": "Autonomous Fixing Loop",
  "nodes": [
    {
      "parameters": {
        "interval": 30,
        "unit": "minutes"
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "python3 /data/project/src/tools/super_scanner.py /data/project"
      },
      "id": "find-gaps",
      "name": "Find Gaps/Placeholders",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Find Gaps/Placeholders\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-find-gaps",
      "name": "Check: Find Gaps/Placeholders",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        350,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-find-gaps",
      "name": "Omniscient Fix: Find Gaps/Placeholders",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        350,
        150
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"Propose fixes for found gaps. Return bash in ```. Issues: {{ $json.stdout }}\"}]"
            }
          ]
        }
      },
      "id": "ai-fix-generator",
      "name": "AI Fix Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"AI Fix Generator\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-ai-fix-generator",
      "name": "Check: AI Fix Generator",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        550,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-ai-fix-generator",
      "name": "Omniscient Fix: AI Fix Generator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        550,
        150
      ]
    },
    {
      "parameters": {
        "jsCode": "const content = $node[\"AI Fix Generator\"].json.choices[0].message.content;\nconst match = content.match(/```(?:bash|sh)?\\n([\\s\\S]*?)\\n```/);\nconst command = match ? match[1].trim() : content.trim();\n\n// Robust Sanitization\nconst blocked = [\n  \"rm \", \"mkfs\", \"shutdown\", \"reboot\", \"mv /\", \"dd \", \n  \"> /dev/sd\", \":(){:|:&};:\", \"chmod -R 777\", \"chown -R\", \n  \"wget \", \"curl \", \"nc \", \"bash -i\", \"telnet\"\n];\n\nif (blocked.some(b => command.includes(b))) {\n  throw new Error(`CRITICAL SECURITY ALERT: Dangerous command blocked: ${command}`);\n}\n\n// Ensure command stays within project directory if possible\nconst absolutePaths = command.match(/\\b\\/(?:[^ \\t\\r\\n\"'`;|&]+)/g) || [];\nfor (const path of absolutePaths) {\n  if (!path.startsWith('/data/project')) {\n    throw new Error(\"Escapement attempt detected: Command references absolute paths outside of /data/project\");\n  }\n}\n\nreturn { command };"
      },
      "id": "sanitize-fix",
      "name": "Sanitize Fix",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Sanitize Fix\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-sanitize-fix",
      "name": "Check: Sanitize Fix",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        750,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-sanitize-fix",
      "name": "Omniscient Fix: Sanitize Fix",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        750,
        150
      ]
    },
    {
      "parameters": {
        "command": "=cd /data/project && {{ $json.command }} && (npm test || pytest || true)"
      },
      "id": "apply-fix",
      "name": "Apply Fix",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Apply Fix\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-apply-fix",
      "name": "Check: Apply Fix",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        950,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-apply-fix",
      "name": "Omniscient Fix: Apply Fix",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        950,
        150
      ]
    },
    {
      "parameters": {
        "command": "cd /data/project && git add . && git commit -m \"Autonomous fix applied\" && git push || echo \"No changes to commit\""
      },
      "id": "git-commit-push",
      "name": "Git Commit & Push",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1000,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Git Commit & Push\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-git-commit-push",
      "name": "Check: Git Commit & Push",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1150,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-git-commit-push",
      "name": "Omniscient Fix: Git Commit & Push",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1150,
        150
      ]
    },
    {
      "parameters": {},
      "id": "fix-failed-notification",
      "name": "Fix Failed Notification",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1000,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Fix Failed Notification\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-fix-failed-notification",
      "name": "Check: Fix Failed Notification",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1150,
        250
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-fix-failed-notification",
      "name": "Omniscient Fix: Fix Failed Notification",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1150,
        350
      ]
    }
  ],
  "connections": {
    "Find Gaps/Placeholders": {
      "main": [
        [
          {
            "node": "Check: Find Gaps/Placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Find Gaps/Placeholders": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Find Gaps/Placeholders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Find Gaps/Placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Find Gaps/Placeholders": {
      "main": [
        [
          {
            "node": "Find Gaps/Placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Fix Generator": {
      "main": [
        [
          {
            "node": "Check: AI Fix Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: AI Fix Generator": {
      "main": [
        [
          {
            "node": "Omniscient Fix: AI Fix Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: AI Fix Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: AI Fix Generator": {
      "main": [
        [
          {
            "node": "AI Fix Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Fix": {
      "main": [
        [
          {
            "node": "Check: Sanitize Fix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Sanitize Fix": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Sanitize Fix",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Sanitize Fix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Sanitize Fix": {
      "main": [
        [
          {
            "node": "Sanitize Fix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Fix": {
      "main": [
        [
          {
            "node": "Check: Apply Fix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Apply Fix": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Apply Fix",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Apply Fix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Apply Fix": {
      "main": [
        [
          {
            "node": "Apply Fix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Commit & Push": {
      "main": [
        [
          {
            "node": "Check: Git Commit & Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Git Commit & Push": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Git Commit & Push",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Git Commit & Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Git Commit & Push": {
      "main": [
        [
          {
            "node": "Git Commit & Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Failed Notification": {
      "main": [
        [
          {
            "node": "Check: Fix Failed Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Fix Failed Notification": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Fix Failed Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Fix Failed Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Fix Failed Notification": {
      "main": [
        [
          {
            "node": "Fix Failed Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}