src/workflows/evolution_engine.json
{
  "name": "Full Evolution Engine",
  "nodes": [
    {
      "parameters": {
        "interval": 1,
        "unit": "weeks"
      },
      "id": "weekly-trigger",
      "name": "Weekly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "cat /data/project/SDLC_PERF.log /data/project/SDLC_KNOWLEDGE.md"
      },
      "id": "read-all-context",
      "name": "Read All Context",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Read All Context\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-read-all-context",
      "name": "Check: Read All Context",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        350,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-read-all-context",
      "name": "Omniscient Fix: Read All Context",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        350,
        150
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You are a lead architect. Based on the project performance and history: {{ $json.stdout }}, suggest improvements to the ARCHITECTURE.md file. Return ONLY the markdown content.\"}]"
            }
          ]
        }
      },
      "id": "ai-evolve-arch",
      "name": "AI Evolve Arch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        450,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"AI Evolve Arch\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-ai-evolve-arch",
      "name": "Check: AI Evolve Arch",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-ai-evolve-arch",
      "name": "Omniscient Fix: AI Evolve Arch",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        150
      ]
    },
    {
      "parameters": {
        "command": "echo '{{ $json.choices[0].message.content }}' > /data/project/ARCHITECTURE.md"
      },
      "id": "update-arch",
      "name": "Update Arch",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        700,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Update Arch\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-update-arch",
      "name": "Check: Update Arch",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        850,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-update-arch",
      "name": "Omniscient Fix: Update Arch",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        850,
        150
      ]
    }
  ],
  "connections": {
    "Read All Context": {
      "main": [
        [
          {
            "node": "Check: Read All Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Read All Context": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Read All Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Read All Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Read All Context": {
      "main": [
        [
          {
            "node": "Read All Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Evolve Arch": {
      "main": [
        [
          {
            "node": "Check: AI Evolve Arch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: AI Evolve Arch": {
      "main": [
        [
          {
            "node": "Omniscient Fix: AI Evolve Arch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: AI Evolve Arch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: AI Evolve Arch": {
      "main": [
        [
          {
            "node": "AI Evolve Arch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Arch": {
      "main": [
        [
          {
            "node": "Check: Update Arch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Update Arch": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Update Arch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Update Arch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Update Arch": {
      "main": [
        [
          {
            "node": "Update Arch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}