src/workflows/evolution_engine.json
{
  "name": "Full Evolution Engine",
  "nodes": [
    {
      "parameters": {
        "interval": 1,
        "unit": "weeks"
      },
      "id": "weekly-trigger",
      "name": "Weekly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "cat /data/project/SDLC_PERF.log /data/project/SDLC_KNOWLEDGE.md"
      },
      "id": "read-all-context",
      "name": "Read All Context",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You are a lead architect. Based on the project performance and history: {{ $json.stdout }}, suggest improvements to the ARCHITECTURE.md file. Return ONLY the markdown content.\"}]"
            }
          ]
        }
      },
      "id": "ai-evolve-arch",
      "name": "AI Evolve Arch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        450,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "echo '{{ $json.choices[0].message.content }}' > /data/project/ARCHITECTURE.md"
      },
      "id": "update-arch",
      "name": "Update Arch",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        700,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Read All Context\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "9df6d8f2-94ab-431c-989b-939129702f05",
      "name": "Check: Read All Context (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "95b97a08-3d5f-4097-a4bd-d07513335ce4",
      "name": "Omniscient Fix: Read All Context (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"AI Evolve Arch\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "2bf18711-0754-4e42-84c7-86dd2605ef27",
      "name": "Check: AI Evolve Arch (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "33f29824-6815-4130-b1b5-d251e75d625b",
      "name": "Omniscient Fix: AI Evolve Arch (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        850,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Update Arch\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "1998da8a-ecf7-4084-9cbd-50053cce9684",
      "name": "Check: Update Arch (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fbe2897a-c170-4111-aed0-877239c0edff",
      "name": "Omniscient Fix: Update Arch (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1100,
        0
      ]
    }
  ],
  "connections": {
    "Check: Read All Context (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Read All Context (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Read All Context (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Read All Context (P0)": {
      "main": [
        [
          {
            "node": "Read All Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Context": {
      "main": [
        [
          {
            "node": "Check: Read All Context (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: AI Evolve Arch (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: AI Evolve Arch (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: AI Evolve Arch (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: AI Evolve Arch (P0)": {
      "main": [
        [
          {
            "node": "AI Evolve Arch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Evolve Arch": {
      "main": [
        [
          {
            "node": "Check: AI Evolve Arch (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Update Arch (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Update Arch (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Update Arch (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Update Arch (P0)": {
      "main": [
        [
          {
            "node": "Update Arch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Arch": {
      "main": [
        [
          {
            "node": "Check: Update Arch (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}