src/workflows/foss_contributor.json
{
  "name": "FOSS Contributor (Bug Bounty)",
  "nodes": [
    {
      "parameters": {
        "interval": 1,
        "unit": "weeks"
      },
      "id": "trigger",
      "name": "Weekly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "git clone https://github.com/popular/foss-repo /tmp/target && python3 /data/project/src/tools/deep_analyzer.py /tmp/target"
      },
      "id": "scan-external",
      "name": "Scan External Repo",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You found bugs in an external FOSS repo: {{ $json.stdout }}. Generate a fix to contribute back.\"}]"
            }
          ]
        }
      },
      "id": "generate-contribution",
      "name": "Generate Contribution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Scan External Repo\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "bf51aadb-a7d5-4f2c-b090-1df7dcb60dd5",
      "name": "Check: Scan External Repo (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "9f8ffe19-8d0c-440d-831e-a6173cae5cac",
      "name": "Omniscient Fix: Scan External Repo (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Generate Contribution\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "e3b5c3e1-34ad-48c5-9226-f03783d66221",
      "name": "Check: Generate Contribution (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "1a0474e6-aedb-4326-9869-f94408e48d9d",
      "name": "Omniscient Fix: Generate Contribution (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    }
  ],
  "connections": {
    "Check: Scan External Repo (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Scan External Repo (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Scan External Repo (P0)": {
      "main": [
        [
          {
            "node": "Scan External Repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan External Repo": {
      "main": [
        [
          {
            "node": "Check: Scan External Repo (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Generate Contribution (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Generate Contribution (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Generate Contribution (P0)": {
      "main": [
        [
          {
            "node": "Generate Contribution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Contribution": {
      "main": [
        [
          {
            "node": "Check: Generate Contribution (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}