src/workflows/foss_contributor.json
{
  "name": "FOSS Contributor (Bug Bounty)",
  "nodes": [
    {
      "parameters": {
        "interval": 1,
        "unit": "weeks"
      },
      "id": "trigger",
      "name": "Weekly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "git clone https://github.com/popular/foss-repo /tmp/target && python3 /data/project/src/tools/deep_analyzer.py /tmp/target"
      },
      "id": "scan-external",
      "name": "Scan External Repo",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You found bugs in an external FOSS repo: {{ $json.stdout }}. Generate a fix to contribute back.\"}]"
            }
          ]
        }
      },
      "id": "generate-contribution",
      "name": "Generate Contribution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Scan External Repo\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "bbca7b4d-36b1-41ed-80f9-ccdd16cb8350",
      "name": "Check: Scan External Repo (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "6b31933c-1a5c-4c18-9e4d-4b1f4f4de825",
      "name": "Omniscient Fix: Scan External Repo (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Generate Contribution\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "5c6591dd-a84d-4ef7-901a-ab496df785ed",
      "name": "Check: Generate Contribution (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "71ced692-7f74-4a26-bdf8-b79d624573e5",
      "name": "Omniscient Fix: Generate Contribution (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    }
  ],
  "connections": {
    "Check: Scan External Repo (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Scan External Repo (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Scan External Repo (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Scan External Repo (P0)": {
      "main": [
        [
          {
            "node": "Scan External Repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan External Repo": {
      "main": [
        [
          {
            "node": "Check: Scan External Repo (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Generate Contribution (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Generate Contribution (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Generate Contribution (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Generate Contribution (P0)": {
      "main": [
        [
          {
            "node": "Generate Contribution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Contribution": {
      "main": [
        [
          {
            "node": "Check: Generate Contribution (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}