src/workflows/god_mode_orchestrator.json
{
  "name": "IQ200 Unified SDLC Brain",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "trigger",
      "name": "Chat Trigger",
      "type": "n8n-nodes-base.chatTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "python3 /data/project/src/tools/hardware_monitor.py"
      },
      "id": "safety-check",
      "name": "Hardware Safety Check",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "python3 /data/project/src/tools/deep_analyzer.py /data/project"
      },
      "id": "scout-analyze",
      "name": "Scout (Deep Analyze)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Hardware Safety Check\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "918f320d-688d-424a-a719-0c7e14279552",
      "name": "Check: Hardware Safety Check (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "ac47c4b2-7f28-45a5-8050-7af266f9e56d",
      "name": "Omniscient Fix: Hardware Safety Check (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Scout (Deep Analyze)\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "ad09b47b-604a-4c9f-a113-81145a2381c3",
      "name": "Check: Scout (Deep Analyze) (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "df347483-daa0-496d-b531-4b27e50bfbca",
      "name": "Omniscient Fix: Scout (Deep Analyze) (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    }
  ],
  "connections": {
    "Check: Hardware Safety Check (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Hardware Safety Check (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Hardware Safety Check (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Hardware Safety Check (P0)": {
      "main": [
        [
          {
            "node": "Hardware Safety Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hardware Safety Check": {
      "main": [
        [
          {
            "node": "Check: Hardware Safety Check (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Scout (Deep Analyze) (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Scout (Deep Analyze) (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Scout (Deep Analyze) (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Scout (Deep Analyze) (P0)": {
      "main": [
        [
          {
            "node": "Scout (Deep Analyze)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scout (Deep Analyze)": {
      "main": [
        [
          {
            "node": "Check: Scout (Deep Analyze) (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}