src/workflows/god_mode_orchestrator.json
{
  "name": "IQ200 Unified SDLC Brain",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "trigger",
      "name": "Chat Trigger",
      "type": "n8n-nodes-base.chatTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "python3 /data/project/src/tools/hardware_monitor.py"
      },
      "id": "safety-check",
      "name": "Hardware Safety Check",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "python3 /data/project/src/tools/deep_analyzer.py /data/project"
      },
      "id": "scout-analyze",
      "name": "Scout (Deep Analyze)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Hardware Safety Check\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "cc364636-e62a-44e1-85b9-20e4c112a718",
      "name": "Check: Hardware Safety Check (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "9fb33e40-5c37-48e5-8964-44a98e696efd",
      "name": "Omniscient Fix: Hardware Safety Check (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Scout (Deep Analyze)\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "32e368d6-612f-44d8-816d-874fd67d045e",
      "name": "Check: Scout (Deep Analyze) (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "3769f1d9-5e9e-4753-b613-f4030e112474",
      "name": "Omniscient Fix: Scout (Deep Analyze) (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    }
  ],
  "connections": {
    "Check: Hardware Safety Check (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Hardware Safety Check (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Hardware Safety Check (P0)": {
      "main": [
        [
          {
            "node": "Hardware Safety Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hardware Safety Check": {
      "main": [
        [
          {
            "node": "Check: Hardware Safety Check (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Scout (Deep Analyze) (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Scout (Deep Analyze) (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Scout (Deep Analyze) (P0)": {
      "main": [
        [
          {
            "node": "Scout (Deep Analyze)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scout (Deep Analyze)": {
      "main": [
        [
          {
            "node": "Check: Scout (Deep Analyze) (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}