src/workflows/health_check.json
{
  "name": "Hardware Health Check",
  "nodes": [
    {
      "parameters": {
        "interval": 30,
        "unit": "minutes"
      },
      "id": "health-trigger",
      "name": "Health Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "python3 /data/project/src/tools/hardware_monitor.py",
        "continueOnFail": true
      },
      "id": "check-hardware",
      "name": "Check Hardware",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Check Hardware\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-check-hardware",
      "name": "Check: Check Hardware",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        350,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-check-hardware",
      "name": "Omniscient Fix: Check Hardware",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        350,
        150
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"Check Hardware\"].json.exitCode }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "id": "is-stable",
      "name": "Is Stable?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Is Stable?\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-is-stable",
      "name": "Check: Is Stable?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        550,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-is-stable",
      "name": "Omniscient Fix: Is Stable?",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        550,
        150
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ALERT_WEBHOOK_URL || 'http://localhost:5678/webhook/alert' }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "Hardware Alert"
            },
            {
              "name": "content",
              "value": "=### \u26a0\ufe0f CRITICAL HARDWARE ALERT\nSystem stress detected. AI operations throttled.\n\nStats:\n{{ $node[\"Check Hardware\"].json.stdout }}"
            }
          ]
        }
      },
      "id": "alert-notification",
      "name": "Alert Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        600,
        100
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Alert Notification\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-alert-notification",
      "name": "Check: Alert Notification",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        750,
        150
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-alert-notification",
      "name": "Omniscient Fix: Alert Notification",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        750,
        250
      ]
    }
  ],
  "connections": {
    "Check Hardware": {
      "main": [
        [
          {
            "node": "Check: Check Hardware",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Check Hardware": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Check Hardware",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Check Hardware",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Check Hardware": {
      "main": [
        [
          {
            "node": "Check Hardware",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Stable?": {
      "main": [
        [
          {
            "node": "Check: Is Stable?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Is Stable?": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Is Stable?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Is Stable?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Is Stable?": {
      "main": [
        [
          {
            "node": "Is Stable?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Notification": {
      "main": [
        [
          {
            "node": "Check: Alert Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Alert Notification": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Alert Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Alert Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Alert Notification": {
      "main": [
        [
          {
            "node": "Alert Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}