src/workflows/health_check.json
{
  "name": "Hardware Health Check",
  "nodes": [
    {
      "parameters": {
        "interval": 30,
        "unit": "minutes"
      },
      "id": "health-trigger",
      "name": "Health Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "python3 /data/project/src/tools/hardware_monitor.py",
        "continueOnFail": true
      },
      "id": "check-hardware",
      "name": "Check Hardware",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"Check Hardware\"].json.exitCode }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "id": "is-stable",
      "name": "Is Stable?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ALERT_WEBHOOK_URL || 'http://localhost:5678/webhook/alert' }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "Hardware Alert"
            },
            {
              "name": "content",
              "value": "=### \u26a0\ufe0f CRITICAL HARDWARE ALERT\nSystem stress detected. AI operations throttled.\n\nStats:\n{{ $node[\"Check Hardware\"].json.stdout }}"
            }
          ]
        }
      },
      "id": "alert-notification",
      "name": "Alert Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        600,
        100
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Check Hardware\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "0f1ef614-8397-4e66-8827-d081c7d39136",
      "name": "Check: Check Hardware (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "c1dcb97e-91cd-4650-9f31-cf18ad3d60c2",
      "name": "Omniscient Fix: Check Hardware (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Is Stable?\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "a0eb7317-6fe9-442e-8086-6a16f2975a9d",
      "name": "Check: Is Stable? (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fb0647fe-d29f-40cf-ac58-f272d5b81278",
      "name": "Omniscient Fix: Is Stable? (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Alert Notification\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "c05c8948-a328-4555-9158-74a4a665914a",
      "name": "Check: Alert Notification (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "b392ca38-7986-4e7b-a74c-683db044f031",
      "name": "Omniscient Fix: Alert Notification (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        100
      ]
    }
  ],
  "connections": {
    "Check: Check Hardware (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Check Hardware (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Check Hardware (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Check Hardware (P0)": {
      "main": [
        [
          {
            "node": "Check Hardware",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Hardware": {
      "main": [
        [
          {
            "node": "Check: Check Hardware (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Is Stable? (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Is Stable? (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Is Stable? (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Is Stable? (P0)": {
      "main": [
        [
          {
            "node": "Is Stable?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Stable?": {
      "main": [
        [
          {
            "node": "Check: Is Stable? (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Alert Notification (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Alert Notification (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Alert Notification (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Alert Notification (P0)": {
      "main": [
        [
          {
            "node": "Alert Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Notification": {
      "main": [
        [
          {
            "node": "Check: Alert Notification (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}