src/workflows/health_check.json
{
  "name": "Hardware Health Check",
  "nodes": [
    {
      "parameters": {
        "interval": 30,
        "unit": "minutes"
      },
      "id": "health-trigger",
      "name": "Health Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "python3 /data/project/src/tools/hardware_monitor.py",
        "continueOnFail": true
      },
      "id": "check-hardware",
      "name": "Check Hardware",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"Check Hardware\"].json.exitCode }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "id": "is-stable",
      "name": "Is Stable?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ALERT_WEBHOOK_URL || 'http://localhost:5678/webhook/alert' }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "Hardware Alert"
            },
            {
              "name": "content",
              "value": "=### \u26a0\ufe0f CRITICAL HARDWARE ALERT\nSystem stress detected. AI operations throttled.\n\nStats:\n{{ $node[\"Check Hardware\"].json.stdout }}"
            }
          ]
        }
      },
      "id": "alert-notification",
      "name": "Alert Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        600,
        100
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Check Hardware\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "ef796ddb-9c45-4edc-bf85-e4c1dfe639b7",
      "name": "Check: Check Hardware (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "33bfa5c5-1d6b-4ab0-ac80-39ac9791d010",
      "name": "Omniscient Fix: Check Hardware (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Is Stable?\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "4760c983-ab3a-4b01-a318-ef991fdad49e",
      "name": "Check: Is Stable? (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "2eb4c6f4-04fc-428b-96d2-31a3c0c4657b",
      "name": "Omniscient Fix: Is Stable? (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Is Stable?\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "d9b5b91d-8b8b-4ad3-87a1-992d7afcbceb",
      "name": "Check: Is Stable? (P1)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "85a50d90-e37b-46f7-8aa0-99e66ac6bc7a",
      "name": "Omniscient Fix: Is Stable? (P1)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Alert Notification\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "e0c56fc5-85b5-4dfe-ac85-23b1061b1efe",
      "name": "Check: Alert Notification (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "7e8070cc-92b0-4d2a-b5f6-92b92eafb203",
      "name": "Omniscient Fix: Alert Notification (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        100
      ]
    }
  ],
  "connections": {
    "Health Trigger": {
      "main": [
        [
          {
            "node": "Check Hardware",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Check Hardware (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Check Hardware (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Stable?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Check Hardware (P0)": {
      "main": [
        [
          {
            "node": "Check Hardware",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Hardware": {
      "main": [
        [
          {
            "node": "Check: Check Hardware (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Is Stable? (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Is Stable? (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Is Stable? (P0)": {
      "main": [
        [
          {
            "node": "Is Stable?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Is Stable? (P1)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Is Stable? (P1)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Is Stable? (P1)": {
      "main": [
        [
          {
            "node": "Is Stable?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Stable?": {
      "main": [
        [
          {
            "node": "Check: Is Stable? (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Is Stable? (P1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Alert Notification (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Alert Notification (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Alert Notification (P0)": {
      "main": [
        [
          {
            "node": "Alert Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Notification": {
      "main": [
        [
          {
            "node": "Check: Alert Notification (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}