src/workflows/infrastructure_deploy.json
{
  "name": "Infrastructure & Deployment Routine",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "ls /data/project/*.tf || echo \"none\""
      },
      "id": "check-tf-files",
      "name": "Check TF Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.stdout }}",
              "operation": "contains",
              "value2": ".tf"
            }
          ]
        }
      },
      "id": "has-tf",
      "name": "Has TF?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "cd /data/project && tofu init && tofu apply -auto-approve"
      },
      "id": "tofu-apply",
      "name": "OpenTofu Apply",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        600,
        -50
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"Generate a main.tf file for a FOSS project using Docker provider based on this context: {{ JSON.stringify($node[\\\"Check TF Files\\\"].json) }}. Return ONLY the HCL code.\"}, {\"role\": \"user\", \"content\": \"Generate IaC.\"}]"
            }
          ]
        }
      },
      "id": "ai-tf-generator",
      "name": "AI TF Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        600,
        150
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=cat <<EOF > /data/project/main.tf\n{{ $json.choices[0].message.content }}\nEOF"
      },
      "id": "write-tf",
      "name": "Write TF File",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        800,
        150
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Manual Trigger\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "0d1451e1-7d91-4c1c-8574-de1a32648b34",
      "name": "Check: Manual Trigger (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        200,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "b06c8381-d353-4afe-b3cf-387a098d9b1d",
      "name": "Omniscient Fix: Manual Trigger (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Check TF Files\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "59a68200-d3dc-4dc3-b56d-40d6455ae50b",
      "name": "Check: Check TF Files (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "aa0779a7-2258-41c7-90d9-b563884a45c6",
      "name": "Omniscient Fix: Check TF Files (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Has TF?\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "eb9bff6a-490a-4bb5-9f25-732145f1587b",
      "name": "Check: Has TF? (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "0a0735f8-9eb1-48ab-b660-6e0f91a7261e",
      "name": "Omniscient Fix: Has TF? (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"OpenTofu Apply\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "b7d59bf5-786d-4b44-a430-31e1def3df2e",
      "name": "Check: OpenTofu Apply (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        -150
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "1bc4db56-eae2-41e4-b57d-2f3ed2bb7bc6",
      "name": "Omniscient Fix: OpenTofu Apply (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        -50
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"AI TF Generator\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "9889a955-3eaf-4e42-a38d-76d1d98f6f63",
      "name": "Check: AI TF Generator (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "32b82e83-30eb-4348-8599-9b12a8325fbf",
      "name": "Omniscient Fix: AI TF Generator (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        150
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Write TF File\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "19e61c31-6c84-4276-b175-133d46187a2f",
      "name": "Check: Write TF File (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "0c535ed7-024e-4341-bf4d-9bccab1deb5c",
      "name": "Omniscient Fix: Write TF File (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1200,
        150
      ]
    }
  ],
  "connections": {
    "Check: Manual Trigger (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Manual Trigger (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Manual Trigger (P0)": {
      "main": [
        [
          {
            "node": "Manual Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Check: Manual Trigger (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Check TF Files (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Check TF Files (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Check TF Files (P0)": {
      "main": [
        [
          {
            "node": "Check TF Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check TF Files": {
      "main": [
        [
          {
            "node": "Check: Check TF Files (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Has TF? (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Has TF? (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Has TF? (P0)": {
      "main": [
        [
          {
            "node": "Has TF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has TF?": {
      "main": [
        [
          {
            "node": "Check: Has TF? (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: OpenTofu Apply (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: OpenTofu Apply (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: OpenTofu Apply (P0)": {
      "main": [
        [
          {
            "node": "OpenTofu Apply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenTofu Apply": {
      "main": [
        [
          {
            "node": "Check: OpenTofu Apply (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: AI TF Generator (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: AI TF Generator (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: AI TF Generator (P0)": {
      "main": [
        [
          {
            "node": "AI TF Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI TF Generator": {
      "main": [
        [
          {
            "node": "Check: AI TF Generator (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Write TF File (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Write TF File (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Write TF File (P0)": {
      "main": [
        [
          {
            "node": "Write TF File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write TF File": {
      "main": [
        [
          {
            "node": "Check: Write TF File (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}