src/workflows/infrastructure_deploy.json
{
  "name": "Infrastructure & Deployment Routine",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "ls /data/project/*.tf || echo \"none\""
      },
      "id": "check-tf-files",
      "name": "Check TF Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.stdout }}",
              "operation": "contains",
              "value2": ".tf"
            }
          ]
        }
      },
      "id": "has-tf",
      "name": "Has TF?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "cd /data/project && tofu init && tofu apply -auto-approve"
      },
      "id": "tofu-apply",
      "name": "OpenTofu Apply",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        600,
        -50
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"Generate a main.tf file for a FOSS project using Docker provider based on this context: {{ JSON.stringify($node[\\\"Check TF Files\\\"].json) }}. Return ONLY the HCL code.\"}, {\"role\": \"user\", \"content\": \"Generate IaC.\"}]"
            }
          ]
        }
      },
      "id": "ai-tf-generator",
      "name": "AI TF Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        600,
        150
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=cat <<EOF > /data/project/main.tf\n{{ $json.choices[0].message.content }}\nEOF"
      },
      "id": "write-tf",
      "name": "Write TF File",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        800,
        150
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Manual Trigger\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "4cb98cb3-18c5-44b5-a80b-bc51e2ec73cb",
      "name": "Check: Manual Trigger (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        200,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "01ad92cb-0c24-4e85-8ef3-f23a643c60b2",
      "name": "Omniscient Fix: Manual Trigger (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Check TF Files\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "1aa18ebe-0830-4719-9e06-42c719ec042e",
      "name": "Check: Check TF Files (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "f0297894-ac8c-433a-82a4-66045656139c",
      "name": "Omniscient Fix: Check TF Files (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Has TF?\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "0b4976e2-842d-4c81-9e54-25ba8a395425",
      "name": "Check: Has TF? (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "a0bae346-86a5-4bc5-9bf3-0df8e68b6d54",
      "name": "Omniscient Fix: Has TF? (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"OpenTofu Apply\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "0d165246-3f31-4f5a-9c6d-971976228494",
      "name": "Check: OpenTofu Apply (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "c0af6458-8c41-4bb9-b9f3-085411237e81",
      "name": "Omniscient Fix: OpenTofu Apply (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        -50
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"AI TF Generator\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "80a30ed2-6ebc-4233-b241-51777c46faa6",
      "name": "Check: AI TF Generator (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "88f0eeef-214e-4148-bd5d-96b7e49d270c",
      "name": "Omniscient Fix: AI TF Generator (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        150
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Write TF File\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "c2f7aa32-f6b6-4a4d-aa44-f82ef0da08ed",
      "name": "Check: Write TF File (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "21833697-86f3-4a17-b832-08893908ca9b",
      "name": "Omniscient Fix: Write TF File (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1200,
        150
      ]
    }
  ],
  "connections": {
    "Check: Manual Trigger (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Manual Trigger (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Manual Trigger (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Manual Trigger (P0)": {
      "main": [
        [
          {
            "node": "Manual Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Check: Manual Trigger (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Check TF Files (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Check TF Files (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Check TF Files (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Check TF Files (P0)": {
      "main": [
        [
          {
            "node": "Check TF Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check TF Files": {
      "main": [
        [
          {
            "node": "Check: Check TF Files (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Has TF? (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Has TF? (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Has TF? (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Has TF? (P0)": {
      "main": [
        [
          {
            "node": "Has TF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has TF?": {
      "main": [
        [
          {
            "node": "Check: Has TF? (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: OpenTofu Apply (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: OpenTofu Apply (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: OpenTofu Apply (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: OpenTofu Apply (P0)": {
      "main": [
        [
          {
            "node": "OpenTofu Apply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenTofu Apply": {
      "main": [
        [
          {
            "node": "Check: OpenTofu Apply (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: AI TF Generator (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: AI TF Generator (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: AI TF Generator (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: AI TF Generator (P0)": {
      "main": [
        [
          {
            "node": "AI TF Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI TF Generator": {
      "main": [
        [
          {
            "node": "Check: AI TF Generator (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Write TF File (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Write TF File (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Write TF File (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Write TF File (P0)": {
      "main": [
        [
          {
            "node": "Write TF File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write TF File": {
      "main": [
        [
          {
            "node": "Check: Write TF File (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}