src/workflows/knowledge_routine.json
{
  "name": "Knowledge & Documentation Routine",
  "nodes": [
    {
      "parameters": {
        "interval": 1,
        "unit": "days"
      },
      "id": "daily-trigger",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "git log --since=\"1 day ago\" --patch > /tmp/changes.diff"
      },
      "id": "get-changes",
      "name": "Get Recent Changes",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"Summarize these code changes for a technical README. Update the knowledge base in JSON format: { 'pattern': '...', 'solution': '...' }.\"}, {\"role\": \"user\", \"content\": \"Changes: {{ $node[\\\"get-changes\\\"].json.stdout }}\"}]"
            }
          ]
        }
      },
      "id": "ai-summarizer",
      "name": "AI Summarizer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "echo \"{{ $json.choices[0].message.content }}\" >> /data/project/SDLC_KNOWLEDGE.md"
      },
      "id": "update-docs",
      "name": "Update Documentation",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        600,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Get Recent Changes\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "c1d4ec31-b6da-4ab9-937d-06d81d17c1fa",
      "name": "Check: Get Recent Changes (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "71c0f67b-51d9-4126-a9b7-6de0cee212e2",
      "name": "Omniscient Fix: Get Recent Changes (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"AI Summarizer\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "dac745ab-377e-4c7a-867e-cacfabba1cc7",
      "name": "Check: AI Summarizer (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "a18367dd-c843-47e4-9ae9-c38f600b5cb5",
      "name": "Omniscient Fix: AI Summarizer (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Update Documentation\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "2b66d33e-3c59-4ce0-97dc-e1efb418635d",
      "name": "Check: Update Documentation (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "7775932d-a013-4d64-bed6-c6875c018ca7",
      "name": "Omniscient Fix: Update Documentation (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        0
      ]
    }
  ],
  "connections": {
    "Check: Get Recent Changes (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Get Recent Changes (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Get Recent Changes (P0)": {
      "main": [
        [
          {
            "node": "Get Recent Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Changes": {
      "main": [
        [
          {
            "node": "Check: Get Recent Changes (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: AI Summarizer (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: AI Summarizer (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: AI Summarizer (P0)": {
      "main": [
        [
          {
            "node": "AI Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Summarizer": {
      "main": [
        [
          {
            "node": "Check: AI Summarizer (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Update Documentation (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Update Documentation (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Update Documentation (P0)": {
      "main": [
        [
          {
            "node": "Update Documentation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Documentation": {
      "main": [
        [
          {
            "node": "Check: Update Documentation (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}