src/workflows/master_orchestrator.json
{
  "name": "Ultimate Master SDLC Orchestrator",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "chat-trigger",
      "name": "Chat Trigger",
      "type": "n8n-nodes-base.chatTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        0
      ]
    },
    {
      "parameters": {
        "command": "cat /data/project/ARCHITECTURE.md || echo \"No architecture rules found.\""
      },
      "id": "get-arch-rules",
      "name": "Get Arch Rules",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You are a lead architect. Create a plan aligned with these rules: {{ $node[\\\"Get Arch Rules\\\"].json.stdout }}. Return JSON array: [{file, action, description}]\"}, {\"role\": \"user\", \"content\": \"{{ $json.chatInput }}\"}]"
            }
          ]
        }
      },
      "id": "orchestrator-planning",
      "name": "Orchestrator Planning",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Get Arch Rules\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "a05ac127-26a5-4bb9-9d79-3fc5d5d715a1",
      "name": "Check: Get Arch Rules (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -200,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "68c5ccff-a5ea-4e27-9c17-096f7a70ec8c",
      "name": "Omniscient Fix: Get Arch Rules (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Orchestrator Planning\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "2174bcfa-6d7e-485b-9b9c-83c525e141c7",
      "name": "Check: Orchestrator Planning (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        0,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "55b075da-6ed1-4160-a488-89ef5571a744",
      "name": "Omniscient Fix: Orchestrator Planning (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        200,
        0
      ]
    }
  ],
  "connections": {
    "Check: Get Arch Rules (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Get Arch Rules (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Get Arch Rules (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Get Arch Rules (P0)": {
      "main": [
        [
          {
            "node": "Get Arch Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Arch Rules": {
      "main": [
        [
          {
            "node": "Check: Get Arch Rules (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Orchestrator Planning (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Orchestrator Planning (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Orchestrator Planning (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Orchestrator Planning (P0)": {
      "main": [
        [
          {
            "node": "Orchestrator Planning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator Planning": {
      "main": [
        [
          {
            "node": "Check: Orchestrator Planning (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}