src/workflows/proactive_fixing.json
{
  "name": "Proactive Maintenance Engine",
  "nodes": [
    {
      "parameters": {
        "interval": 1,
        "unit": "days"
      },
      "id": "daily-trigger",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "python3 /data/project/src/tools/predictive_analyzer.py /data/project"
      },
      "id": "risk-analysis",
      "name": "Risk Analysis",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Risk Analysis\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-risk-analysis",
      "name": "Check: Risk Analysis",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        350,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-risk-analysis",
      "name": "Omniscient Fix: Risk Analysis",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        350,
        150
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"Analyze these high-risk files and suggest proactive refactoring to prevent future bugs. Files: {{ $json.stdout }}\"}]"
            }
          ]
        }
      },
      "id": "proactive-fixer",
      "name": "Proactive Fixer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Proactive Fixer\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-proactive-fixer",
      "name": "Check: Proactive Fixer",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        550,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-proactive-fixer",
      "name": "Omniscient Fix: Proactive Fixer",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        550,
        150
      ]
    }
  ],
  "connections": {
    "Risk Analysis": {
      "main": [
        [
          {
            "node": "Check: Risk Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Risk Analysis": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Risk Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Risk Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Risk Analysis": {
      "main": [
        [
          {
            "node": "Risk Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Proactive Fixer": {
      "main": [
        [
          {
            "node": "Check: Proactive Fixer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Proactive Fixer": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Proactive Fixer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Proactive Fixer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Proactive Fixer": {
      "main": [
        [
          {
            "node": "Proactive Fixer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}