src/workflows/project_refactor.json
{
  "name": "Multi-threaded Project Refactor",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "trigger",
      "name": "Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "find /data/project -type f -not -path '*/.*' | split -l 10 - chunks_"
      },
      "id": "chunk-project",
      "name": "Chunk Project",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "ls chunks_*"
      },
      "id": "list-chunks",
      "name": "List Chunks",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "process-chunks-parallel",
      "name": "Process Chunks Parallel",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        600,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "cat {{ $json.stdout }} | xargs -I {} grep -L \"Refactored\" {}"
      },
      "id": "refactor-logic",
      "name": "Refactor Logic",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Trigger\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "38ec8947-4521-4537-b278-89494693293f",
      "name": "Check: Trigger (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        200,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "793c3cf5-c25c-40d7-9994-ede318d08593",
      "name": "Omniscient Fix: Trigger (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Chunk Project\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "6619b158-495c-4ffa-9b25-5a8f49f28de2",
      "name": "Check: Chunk Project (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "23a523de-c604-46f5-b46e-3836eab13ba1",
      "name": "Omniscient Fix: Chunk Project (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"List Chunks\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "31eef8ff-3323-44a5-9ef4-424af05ed34d",
      "name": "Check: List Chunks (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "e9d08f53-7a34-45b0-a9ad-00d503d1d4f2",
      "name": "Omniscient Fix: List Chunks (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Process Chunks Parallel\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "2ec406b1-e97a-4770-9800-1ec6bf2b6088",
      "name": "Check: Process Chunks Parallel (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "7e7aacf0-0d22-4114-bc80-4866b442eb00",
      "name": "Omniscient Fix: Process Chunks Parallel (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Refactor Logic\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "8a1a88b3-c726-4e23-a2c7-a0b478c6ed76",
      "name": "Check: Refactor Logic (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "054c0857-c593-4b10-81b5-3253e9d51601",
      "name": "Omniscient Fix: Refactor Logic (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1200,
        0
      ]
    }
  ],
  "connections": {
    "Check: Trigger (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Trigger (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Trigger (P0)": {
      "main": [
        [
          {
            "node": "Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger": {
      "main": [
        [
          {
            "node": "Check: Trigger (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Chunk Project (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Chunk Project (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Chunk Project (P0)": {
      "main": [
        [
          {
            "node": "Chunk Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Project": {
      "main": [
        [
          {
            "node": "Check: Chunk Project (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: List Chunks (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: List Chunks (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: List Chunks (P0)": {
      "main": [
        [
          {
            "node": "List Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Chunks": {
      "main": [
        [
          {
            "node": "Check: List Chunks (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Process Chunks Parallel (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Process Chunks Parallel (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Process Chunks Parallel (P0)": {
      "main": [
        [
          {
            "node": "Process Chunks Parallel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Chunks Parallel": {
      "main": [
        [
          {
            "node": "Check: Process Chunks Parallel (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Refactor Logic (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Refactor Logic (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Refactor Logic (P0)": {
      "main": [
        [
          {
            "node": "Refactor Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refactor Logic": {
      "main": [
        [
          {
            "node": "Check: Refactor Logic (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}