src/workflows/rag_indexer.json
{
  "name": "RAG Context Indexer",
  "nodes": [
    {
      "parameters": {
        "interval": 4,
        "unit": "hours"
      },
      "id": "trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "find /data/project -type f -not -path '*/.*' | xargs -I {} cat {}"
      },
      "id": "read-files",
      "name": "Read Project Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Read Project Files\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-read-files",
      "name": "Check: Read Project Files",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        350,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-read-files",
      "name": "Omniscient Fix: Read Project Files",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        350,
        150
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://chroma:8000/api/v1/collections/sdlc/upsert",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "documents",
              "value": "={{ $json.stdout }}"
            },
            {
              "name": "ids",
              "value": "={{ $json.fileName }}"
            }
          ]
        }
      },
      "id": "chroma-upsert",
      "name": "Chroma Upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Chroma Upsert\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-chroma-upsert",
      "name": "Check: Chroma Upsert",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        550,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-chroma-upsert",
      "name": "Omniscient Fix: Chroma Upsert",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        550,
        150
      ]
    }
  ],
  "connections": {
    "Read Project Files": {
      "main": [
        [
          {
            "node": "Check: Read Project Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Read Project Files": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Read Project Files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Read Project Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Read Project Files": {
      "main": [
        [
          {
            "node": "Read Project Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chroma Upsert": {
      "main": [
        [
          {
            "node": "Check: Chroma Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Chroma Upsert": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Chroma Upsert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Chroma Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Chroma Upsert": {
      "main": [
        [
          {
            "node": "Chroma Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}