src/workflows/runtime_monitoring.json
{
  "name": "Runtime Monitoring & Fixing",
  "nodes": [
    {
      "parameters": {
        "interval": 1,
        "unit": "minutes"
      },
      "id": "poll-logs",
      "name": "Poll Logs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "docker logs --since 1m app_container 2>&1 | grep -iE \"error|exception|stacktrace\" || true"
      },
      "id": "get-runtime-errors",
      "name": "Get Runtime Errors",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.stdout }}",
              "operation": "notEmpty"
            }
          ]
        }
      },
      "id": "has-error",
      "name": "Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": "autonomous_fixing"
      },
      "id": "trigger-fix-loop",
      "name": "Trigger Fix Loop",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Get Runtime Errors\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "4e727c0d-e127-42e5-ac15-24e1e42bab57",
      "name": "Check: Get Runtime Errors (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "f6b01293-6943-4dbd-9771-c10f5c8e8fca",
      "name": "Omniscient Fix: Get Runtime Errors (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Has Error?\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "8ffa851c-dae4-47b4-9bab-5dc2fed07cd2",
      "name": "Check: Has Error? (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "d179464c-6c1d-42ab-b694-647ca871ae7f",
      "name": "Omniscient Fix: Has Error? (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Trigger Fix Loop\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "0764a25e-23c1-476d-b64a-53ba0ff01244",
      "name": "Check: Trigger Fix Loop (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "0327060d-d65b-44a2-b024-0a757116a5f7",
      "name": "Omniscient Fix: Trigger Fix Loop (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        0
      ]
    }
  ],
  "connections": {
    "Check: Get Runtime Errors (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Get Runtime Errors (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Get Runtime Errors (P0)": {
      "main": [
        [
          {
            "node": "Get Runtime Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Runtime Errors": {
      "main": [
        [
          {
            "node": "Check: Get Runtime Errors (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Has Error? (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Has Error? (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Has Error? (P0)": {
      "main": [
        [
          {
            "node": "Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Error?": {
      "main": [
        [
          {
            "node": "Check: Has Error? (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Trigger Fix Loop (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Trigger Fix Loop (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Trigger Fix Loop (P0)": {
      "main": [
        [
          {
            "node": "Trigger Fix Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Fix Loop": {
      "main": [
        [
          {
            "node": "Check: Trigger Fix Loop (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}