src/workflows/runtime_monitoring.json
{
  "name": "Runtime Monitoring & Fixing",
  "nodes": [
    {
      "parameters": {
        "interval": 1,
        "unit": "minutes"
      },
      "id": "poll-logs",
      "name": "Poll Logs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "docker logs --since 1m app_container 2>&1 | grep -iE \"error|exception|stacktrace\" || true"
      },
      "id": "get-runtime-errors",
      "name": "Get Runtime Errors",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Get Runtime Errors\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-get-runtime-errors",
      "name": "Check: Get Runtime Errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        350,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-get-runtime-errors",
      "name": "Omniscient Fix: Get Runtime Errors",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        350,
        150
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.stdout }}",
              "operation": "notEmpty"
            }
          ]
        }
      },
      "id": "has-error",
      "name": "Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Has Error?\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-has-error",
      "name": "Check: Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        550,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-has-error",
      "name": "Omniscient Fix: Has Error?",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        550,
        150
      ]
    },
    {
      "parameters": {
        "workflowId": "autonomous_fixing"
      },
      "id": "trigger-fix-loop",
      "name": "Trigger Fix Loop",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Trigger Fix Loop\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-trigger-fix-loop",
      "name": "Check: Trigger Fix Loop",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        750,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-trigger-fix-loop",
      "name": "Omniscient Fix: Trigger Fix Loop",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        750,
        150
      ]
    }
  ],
  "connections": {
    "Get Runtime Errors": {
      "main": [
        [
          {
            "node": "Check: Get Runtime Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Get Runtime Errors": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Get Runtime Errors",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Get Runtime Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Get Runtime Errors": {
      "main": [
        [
          {
            "node": "Get Runtime Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Error?": {
      "main": [
        [
          {
            "node": "Check: Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Has Error?": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Has Error?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Has Error?": {
      "main": [
        [
          {
            "node": "Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Fix Loop": {
      "main": [
        [
          {
            "node": "Check: Trigger Fix Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Trigger Fix Loop": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Trigger Fix Loop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Trigger Fix Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Trigger Fix Loop": {
      "main": [
        [
          {
            "node": "Trigger Fix Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}