src/workflows/sdlc_omniscient_lifecycle.json
{
  "name": "Omniscient SDLC Lifecycle",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "chat-trigger",
      "name": "Chat Trigger",
      "type": "n8n-nodes-base.chatTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "openrouter/free"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You are a Project Planner. Define project scope, objectives, requirements, and timeline for the following request. Return a structured JSON object.\"}, {\"role\": \"user\", \"content\": \"{{ $json.chatInput }}\"}]"
            }
          ]
        }
      },
      "id": "planning",
      "name": "Planning",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "openrouter/free"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You are a Business Analyst. Gather detailed requirements, conduct feasibility study, and perform risk assessment based on the plan: {{ JSON.stringify($json) }}\"}]"
            }
          ]
        }
      },
      "id": "analysis",
      "name": "Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "openrouter/free"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You are a System Architect. Create design specifications, database schema, and API designs based on the analysis: {{ JSON.stringify($json) }}\"}]"
            }
          ]
        }
      },
      "id": "design",
      "name": "Design",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        600,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": "task_orchestrator"
      },
      "id": "development",
      "name": "Development",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": "sdlc_main"
      },
      "id": "testing",
      "name": "Testing",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": "autonomous_fixing"
      },
      "id": "error-fixing",
      "name": "Error Fixing",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": "infrastructure_deploy"
      },
      "id": "deployment",
      "name": "Deployment",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": "health_check"
      },
      "id": "maintenance",
      "name": "Maintenance",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1600,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Planning\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "50b5915d-f718-4432-8f1a-723f6964cc6d",
      "name": "Check: Planning-0-c26b",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "8b58fade-2f46-4d58-8ef2-1d98abb2ecbe",
      "name": "Omniscient Fix: Planning-0-c26b",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Analysis\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "a79e7180-9690-455e-b398-33641b3172ac",
      "name": "Check: Analysis-0-a2d6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "0a4be4cc-d7dc-4b9f-8b1f-3bf27ba7b4c6",
      "name": "Omniscient Fix: Analysis-0-a2d6",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Design\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "9902d825-04b0-4802-86b8-955d76451e39",
      "name": "Check: Design-0-24cd",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "5d70aad1-5487-49a4-8501-c611dca7f175",
      "name": "Omniscient Fix: Design-0-24cd",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Development\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "d21fd3a2-e02a-4376-8479-04300ad53a9c",
      "name": "Check: Developmen-0-3166",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "ebab79bd-94af-47f8-95cd-013357107980",
      "name": "Omniscient Fix: Developmen-0-3166",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Testing\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "f58216f1-e536-4a9c-a81c-0320185c97e3",
      "name": "Check: Testing-0-07f5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1200,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "0469c3f7-0ada-4274-b459-33cbdaa739d7",
      "name": "Omniscient Fix: Testing-0-07f5",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1400,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Error Fixing\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "9e1bb5ca-7a05-40c1-bf42-277b057d6747",
      "name": "Check: Error Fixi-0-cdf1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1400,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "a8a9e6ad-4bbe-4ed1-bc83-6199932cac41",
      "name": "Omniscient Fix: Error Fixi-0-cdf1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Deployment\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "9324eaf5-1eaa-4852-87f0-98db0b03aebf",
      "name": "Check: Deployment-0-0a59",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1600,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "86caf327-d3cb-41ce-9323-08ab9411755b",
      "name": "Omniscient Fix: Deployment-0-0a59",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1800,
        0
      ]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Planning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Planning-0-c26b": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Planning-0-c26b",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Planning-0-c26b": {
      "main": [
        [
          {
            "node": "Planning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planning": {
      "main": [
        [
          {
            "node": "Check: Planning-0-c26b",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Analysis-0-a2d6": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Analysis-0-a2d6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Design",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Analysis-0-a2d6": {
      "main": [
        [
          {
            "node": "Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analysis": {
      "main": [
        [
          {
            "node": "Check: Analysis-0-a2d6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Design-0-24cd": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Design-0-24cd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Development",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Design-0-24cd": {
      "main": [
        [
          {
            "node": "Design",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Design": {
      "main": [
        [
          {
            "node": "Check: Design-0-24cd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Developmen-0-3166": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Developmen-0-3166",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Testing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Developmen-0-3166": {
      "main": [
        [
          {
            "node": "Development",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Development": {
      "main": [
        [
          {
            "node": "Check: Developmen-0-3166",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Testing-0-07f5": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Testing-0-07f5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Fixing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Testing-0-07f5": {
      "main": [
        [
          {
            "node": "Testing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Testing": {
      "main": [
        [
          {
            "node": "Check: Testing-0-07f5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Error Fixi-0-cdf1": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Error Fixi-0-cdf1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deployment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Error Fixi-0-cdf1": {
      "main": [
        [
          {
            "node": "Error Fixing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Fixing": {
      "main": [
        [
          {
            "node": "Check: Error Fixi-0-cdf1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Deployment-0-0a59": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Deployment-0-0a59",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Maintenance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Deployment-0-0a59": {
      "main": [
        [
          {
            "node": "Deployment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deployment": {
      "main": [
        [
          {
            "node": "Check: Deployment-0-0a59",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Maintenance": {
      "main": [
        []
      ]
    }
  }
}