src/workflows/sdlc_dashboard.json
{
  "name": "SDLC Health Dashboard",
  "nodes": [
    {
      "parameters": {
        "interval": 1,
        "unit": "hours"
      },
      "id": "hourly-trigger",
      "name": "Hourly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "cat /data/project/SDLC_PERF.log | tail -n 50"
      },
      "id": "fetch-metrics",
      "name": "Fetch Metrics",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const logs = $node[\"Fetch Metrics\"].json.stdout;\nconst html = `\n<html>\n<head><title>SDLC Health Dashboard</title></head>\n<body>\n<h1>Autonomous SDLC Health</h1>\n<pre>${logs}</pre>\n<p>Last Update: ${new Date().toISOString()}</p>\n<footer><a href='https://developer.puter.com'>Powered by Puter</a></footer><footer><a href='https://developer.puter.com'>Powered by Puter</a></footer></body>\n</html>`;\nreturn { html };"
      },
      "id": "generate-html",
      "name": "Generate HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "echo '{{ $json.html }}' > /data/project/DASHBOARD.html"
      },
      "id": "save-dashboard",
      "name": "Save Dashboard",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        600,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Fetch Metrics\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "d88c2091-244d-4e24-96ee-a0700bed58aa",
      "name": "Check: Fetch Metrics (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "bafa81d8-1a98-4186-bc45-c9ce2170d213",
      "name": "Omniscient Fix: Fetch Metrics (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Generate HTML\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "a186d94c-eb18-41c0-8213-3ef870774975",
      "name": "Check: Generate HTML (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "292bbe46-242c-4a09-bcbc-5e7952cc8ded",
      "name": "Omniscient Fix: Generate HTML (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Save Dashboard\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "3a3a678e-7165-46cd-bba1-12077a64b42f",
      "name": "Check: Save Dashboard (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fa3c7e63-951c-402b-a76e-65faa78a1c42",
      "name": "Omniscient Fix: Save Dashboard (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        0
      ]
    }
  ],
  "connections": {
    "Check: Fetch Metrics (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Fetch Metrics (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Fetch Metrics (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Fetch Metrics (P0)": {
      "main": [
        [
          {
            "node": "Fetch Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Metrics": {
      "main": [
        [
          {
            "node": "Check: Fetch Metrics (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Generate HTML (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Generate HTML (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Generate HTML (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Generate HTML (P0)": {
      "main": [
        [
          {
            "node": "Generate HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML": {
      "main": [
        [
          {
            "node": "Check: Generate HTML (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Save Dashboard (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Save Dashboard (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Save Dashboard (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Save Dashboard (P0)": {
      "main": [
        [
          {
            "node": "Save Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Dashboard": {
      "main": [
        [
          {
            "node": "Check: Save Dashboard (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}