src/workflows/sdlc_main.json
{
  "name": "SDLC Main Workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "chat-trigger",
      "name": "Chat Trigger",
      "type": "n8n-nodes-base.chatTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "find /data/project -maxdepth 2"
      },
      "id": "scan-project",
      "name": "Scan Project Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const stdout = $node[\"Scan Project Files\"].json.stdout || '';\nconst files = stdout.split('\\n');\nlet language = 'unknown';\n\nif (files.some(f => f.includes('package.json'))) language = 'javascript';\nelse if (files.some(f => f.includes('requirements.txt') || f.includes('pyproject.toml'))) language = 'python';\nelse if (files.some(f => f.includes('go.mod'))) language = 'go';\n\nreturn { language, files };"
      },
      "id": "detect-language",
      "name": "Polyglot Detection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.language }}",
              "value2": "javascript"
            }
          ]
        }
      },
      "id": "is-javascript",
      "name": "Is JS?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -100
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.language }}",
              "value2": "python"
            }
          ]
        }
      },
      "id": "is-python",
      "name": "Is Python?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        100
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "cd /data/project && npm test && npm audit"
      },
      "id": "npm-test-audit",
      "name": "NPM Test & Audit",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        800,
        -150
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "cd /data/project && pytest && bandit -r ."
      },
      "id": "pytest-bandit",
      "name": "Pytest & Bandit",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        800,
        50
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"Analyze for gaps, placeholders, and security issues. Project info: {{ JSON.stringify($node[\\\"Polyglot Detection\\\"].json) }}\\nTest Results: {{ JSON.stringify($json) }}\"}, {\"role\": \"user\", \"content\": \"Provide a comprehensive SDLC report.\"}]"
            }
          ]
        }
      },
      "id": "ai-sdlc-report",
      "name": "AI SDLC Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1100,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": "swarm_coordinator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "trigger-infinite-cycle",
      "name": "Trigger Infinite Cycle",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1300,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Scan Project Files\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "7bdb2e88-0909-4305-a5ca-23f24f88911d",
      "name": "Check: Scan Project Files (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "1b8f61b8-6b06-47b0-8632-4955980b9a9b",
      "name": "Omniscient Fix: Scan Project Files (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Polyglot Detection\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "466049a3-38cb-4cbf-8914-0a4076c949a2",
      "name": "Check: Polyglot Detection (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "89fdb31e-f9f6-46df-8085-eb3ad8f081e2",
      "name": "Omniscient Fix: Polyglot Detection (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Is JS?\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "e90b606b-2f03-4c18-b2c3-f923cb613226",
      "name": "Check: Is JS? (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        -150
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "9a4860f5-7700-4290-a758-dfd91645eb2c",
      "name": "Omniscient Fix: Is JS? (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Is Python?\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "93d339f6-e925-47db-ad05-a347c23098e3",
      "name": "Check: Is Python? (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "3437ed8d-c9ca-451a-91d0-b383b6c159c6",
      "name": "Omniscient Fix: Is Python? (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"NPM Test & Audit\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "1e5049cc-0caf-485e-a1da-c5cd23985489",
      "name": "Check: NPM Test & Audit (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        -200
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "78f7b799-857e-4295-889c-46a324f531ff",
      "name": "Omniscient Fix: NPM Test & Audit (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1200,
        -150
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Pytest & Bandit\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "fb29320a-c7fd-4564-86c7-45459c066b72",
      "name": "Check: Pytest & Bandit (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "d7cc839c-34a9-4622-b4dd-4bd7e169599e",
      "name": "Omniscient Fix: Pytest & Bandit (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1200,
        50
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"AI SDLC Report\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "a5f177ba-3265-4a63-a151-d543edb4c0c0",
      "name": "Check: AI SDLC Report (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1300,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "242ff861-2cfb-4384-840b-dcc55deee5f3",
      "name": "Omniscient Fix: AI SDLC Report (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1500,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Trigger Infinite Cycle\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "5905ec0b-9f21-4a3f-8295-538de4df439a",
      "name": "Check: Trigger Infinite Cycle (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1500,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "4f6c1425-6f2c-495e-921e-e0f56ae55e00",
      "name": "Omniscient Fix: Trigger Infinite Cycle (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1700,
        0
      ]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Scan Project Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Scan Project Files (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Scan Project Files (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Scan Project Files (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Scan Project Files (P0)": {
      "main": [
        [
          {
            "node": "Scan Project Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan Project Files": {
      "main": [
        [
          {
            "node": "Check: Scan Project Files (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Polyglot Detection (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Polyglot Detection (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Polyglot Detection (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Polyglot Detection (P0)": {
      "main": [
        [
          {
            "node": "Polyglot Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Polyglot Detection": {
      "main": [
        [
          {
            "node": "Check: Polyglot Detection (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Is JS? (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Is JS? (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Is JS? (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Is JS? (P0)": {
      "main": [
        [
          {
            "node": "Is JS?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is JS?": {
      "main": [
        [
          {
            "node": "Check: Is JS? (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Is Python? (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Is Python? (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Is Python? (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Is Python? (P0)": {
      "main": [
        [
          {
            "node": "Is Python?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Python?": {
      "main": [
        [
          {
            "node": "Check: Is Python? (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: NPM Test & Audit (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: NPM Test & Audit (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: NPM Test & Audit (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: NPM Test & Audit (P0)": {
      "main": [
        [
          {
            "node": "NPM Test & Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NPM Test & Audit": {
      "main": [
        [
          {
            "node": "Check: NPM Test & Audit (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Pytest & Bandit (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Pytest & Bandit (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Pytest & Bandit (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Pytest & Bandit (P0)": {
      "main": [
        [
          {
            "node": "Pytest & Bandit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pytest & Bandit": {
      "main": [
        [
          {
            "node": "Check: Pytest & Bandit (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: AI SDLC Report (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: AI SDLC Report (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: AI SDLC Report (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: AI SDLC Report (P0)": {
      "main": [
        [
          {
            "node": "AI SDLC Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI SDLC Report": {
      "main": [
        [
          {
            "node": "Check: AI SDLC Report (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Trigger Infinite Cycle (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Trigger Infinite Cycle (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scan Project Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Trigger Infinite Cycle (P0)": {
      "main": [
        [
          {
            "node": "Trigger Infinite Cycle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Infinite Cycle": {
      "main": [
        [
          {
            "node": "Check: Trigger Infinite Cycle (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}