src/workflows/sdlc_main.json
{
  "name": "SDLC Main Workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "chat-trigger",
      "name": "Chat Trigger",
      "type": "n8n-nodes-base.chatTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "find /data/project -maxdepth 2"
      },
      "id": "scan-project",
      "name": "Scan Project Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const stdout = $node[\"Scan Project Files\"].json.stdout || '';\nconst files = stdout.split('\\n');\nlet language = 'unknown';\n\nif (files.some(f => f.includes('package.json'))) language = 'javascript';\nelse if (files.some(f => f.includes('requirements.txt') || f.includes('pyproject.toml'))) language = 'python';\nelse if (files.some(f => f.includes('go.mod'))) language = 'go';\n\nreturn { language, files };"
      },
      "id": "detect-language",
      "name": "Polyglot Detection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.language }}",
              "value2": "javascript"
            }
          ]
        }
      },
      "id": "is-javascript",
      "name": "Is JS?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -100
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.language }}",
              "value2": "python"
            }
          ]
        }
      },
      "id": "is-python",
      "name": "Is Python?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        100
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "cd /data/project && npm test && npm audit"
      },
      "id": "npm-test-audit",
      "name": "NPM Test & Audit",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        800,
        -150
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "cd /data/project && pytest && bandit -r ."
      },
      "id": "pytest-bandit",
      "name": "Pytest & Bandit",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        800,
        50
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"Analyze for gaps, placeholders, and security issues. Project info: {{ JSON.stringify($node[\\\"Polyglot Detection\\\"].json) }}\\nTest Results: {{ JSON.stringify($json) }}\"}, {\"role\": \"user\", \"content\": \"Provide a comprehensive SDLC report.\"}]"
            }
          ]
        }
      },
      "id": "ai-sdlc-report",
      "name": "AI SDLC Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1100,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": "swarm_coordinator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "trigger-infinite-cycle",
      "name": "Trigger Infinite Cycle",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1300,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Scan Project Files\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "481b21ad-9ad3-4532-834e-e0ec165e8145",
      "name": "Check: Scan Project Files (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "7f13d3ec-a837-4554-b754-9e3e4bab13f5",
      "name": "Omniscient Fix: Scan Project Files (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Polyglot Detection\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "b03393f5-f7a3-4940-aa0b-6924f38dfc87",
      "name": "Check: Polyglot Detection (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "7d84cebb-3fdf-44ca-b796-0a8f541fc002",
      "name": "Omniscient Fix: Polyglot Detection (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Is JS?\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "5919904f-b4cd-4527-8ce5-a0c59c8fd4a1",
      "name": "Check: Is JS? (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        -200
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "e0cc9329-0765-4f05-8667-4be576eeafca",
      "name": "Omniscient Fix: Is JS? (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Is Python?\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "39f94a7a-de01-489a-a1bd-edf50e0f95f7",
      "name": "Check: Is Python? (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "8cc2ceaa-789d-4abd-8aaa-9a3bf0fe4586",
      "name": "Omniscient Fix: Is Python? (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"NPM Test & Audit\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "b872b2cb-96df-401a-833f-2daaaca43f5f",
      "name": "Check: NPM Test & Audit (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        -250
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "c5b2fa9b-c141-43b4-98bd-38484830ad0e",
      "name": "Omniscient Fix: NPM Test & Audit (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1200,
        -150
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Pytest & Bandit\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "356377e5-7769-4f19-b878-aa3ef8a401ce",
      "name": "Check: Pytest & Bandit (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "47ebb4e9-3541-490f-9038-863ca5e59e89",
      "name": "Omniscient Fix: Pytest & Bandit (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1200,
        50
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"AI SDLC Report\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "7d9c0175-6c2f-45d1-98fa-2d834e8cad47",
      "name": "Check: AI SDLC Report (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1300,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "4ccfdfac-77e7-457b-90ff-a883bfbec222",
      "name": "Omniscient Fix: AI SDLC Report (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1500,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Trigger Infinite Cycle\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "bd019e18-6fae-4c1b-962c-6c8e8b4a2bbe",
      "name": "Check: Trigger Infinite Cycle (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1500,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "7cb4faf8-bb3f-45f1-a93a-7e7c864d1d50",
      "name": "Omniscient Fix: Trigger Infinite Cycle (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1700,
        0
      ]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Scan Project Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Scan Project Files (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Scan Project Files (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Polyglot Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Scan Project Files (P0)": {
      "main": [
        [
          {
            "node": "Scan Project Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan Project Files": {
      "main": [
        [
          {
            "node": "Check: Scan Project Files (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Polyglot Detection (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Polyglot Detection (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is JS?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Python?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Polyglot Detection (P0)": {
      "main": [
        [
          {
            "node": "Polyglot Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Polyglot Detection": {
      "main": [
        [
          {
            "node": "Check: Polyglot Detection (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Is JS? (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Is JS? (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NPM Test & Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Is JS? (P0)": {
      "main": [
        [
          {
            "node": "Is JS?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is JS?": {
      "main": [
        [
          {
            "node": "Check: Is JS? (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Is Python? (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Is Python? (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pytest & Bandit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Is Python? (P0)": {
      "main": [
        [
          {
            "node": "Is Python?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Python?": {
      "main": [
        [
          {
            "node": "Check: Is Python? (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: NPM Test & Audit (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: NPM Test & Audit (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI SDLC Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: NPM Test & Audit (P0)": {
      "main": [
        [
          {
            "node": "NPM Test & Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NPM Test & Audit": {
      "main": [
        [
          {
            "node": "Check: NPM Test & Audit (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Pytest & Bandit (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Pytest & Bandit (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI SDLC Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Pytest & Bandit (P0)": {
      "main": [
        [
          {
            "node": "Pytest & Bandit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pytest & Bandit": {
      "main": [
        [
          {
            "node": "Check: Pytest & Bandit (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: AI SDLC Report (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: AI SDLC Report (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Infinite Cycle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: AI SDLC Report (P0)": {
      "main": [
        [
          {
            "node": "AI SDLC Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI SDLC Report": {
      "main": [
        [
          {
            "node": "Check: AI SDLC Report (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Trigger Infinite Cycle (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Trigger Infinite Cycle (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Trigger Infinite Cycle (P0)": {
      "main": [
        [
          {
            "node": "Trigger Infinite Cycle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Infinite Cycle": {
      "main": [
        [
          {
            "node": "Check: Trigger Infinite Cycle (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}