src/workflows/sdlc_dashboard.json
{
  "name": "SDLC Health Dashboard",
  "nodes": [
    {
      "parameters": {
        "interval": 1,
        "unit": "hours"
      },
      "id": "hourly-trigger",
      "name": "Hourly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "cat /data/project/SDLC_PERF.log | tail -n 50"
      },
      "id": "fetch-metrics",
      "name": "Fetch Metrics",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Fetch Metrics\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-fetch-metrics",
      "name": "Check: Fetch Metrics",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        350,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-fetch-metrics",
      "name": "Omniscient Fix: Fetch Metrics",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        350,
        150
      ]
    },
    {
      "parameters": {
        "jsCode": "const logs = $node[\"Fetch Metrics\"].json.stdout;\nconst html = `\n<html>\n<head><title>SDLC Health Dashboard</title></head>\n<body>\n<h1>Autonomous SDLC Health</h1>\n<pre>${logs}</pre>\n<p>Last Update: ${new Date().toISOString()}</p>\n</body>\n</html>`;\nreturn { html };"
      },
      "id": "generate-html",
      "name": "Generate HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Generate HTML\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-generate-html",
      "name": "Check: Generate HTML",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        550,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-generate-html",
      "name": "Omniscient Fix: Generate HTML",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        550,
        150
      ]
    },
    {
      "parameters": {
        "command": "echo '{{ $json.html }}' > /data/project/DASHBOARD.html"
      },
      "id": "save-dashboard",
      "name": "Save Dashboard",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        600,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Save Dashboard\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-save-dashboard",
      "name": "Check: Save Dashboard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        750,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-save-dashboard",
      "name": "Omniscient Fix: Save Dashboard",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        750,
        150
      ]
    }
  ],
  "connections": {
    "Fetch Metrics": {
      "main": [
        [
          {
            "node": "Check: Fetch Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Fetch Metrics": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Fetch Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Fetch Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Fetch Metrics": {
      "main": [
        [
          {
            "node": "Fetch Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML": {
      "main": [
        [
          {
            "node": "Check: Generate HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Generate HTML": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Generate HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Generate HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Generate HTML": {
      "main": [
        [
          {
            "node": "Generate HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Dashboard": {
      "main": [
        [
          {
            "node": "Check: Save Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Save Dashboard": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Save Dashboard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Save Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Save Dashboard": {
      "main": [
        [
          {
            "node": "Save Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}