src/workflows/sdlc_main.json
{
  "name": "SDLC Main Workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "chat-trigger",
      "name": "Chat Trigger",
      "type": "n8n-nodes-base.chatTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "find /data/project -maxdepth 2"
      },
      "id": "scan-project",
      "name": "Scan Project Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const stdout = $node[\"Scan Project Files\"].json.stdout || '';\nconst files = stdout.split('\\n');\nlet language = 'unknown';\n\nif (files.some(f => f.includes('package.json'))) language = 'javascript';\nelse if (files.some(f => f.includes('requirements.txt') || f.includes('pyproject.toml'))) language = 'python';\nelse if (files.some(f => f.includes('go.mod'))) language = 'go';\n\nreturn { language, files };"
      },
      "id": "detect-language",
      "name": "Polyglot Detection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.language }}",
              "value2": "javascript"
            }
          ]
        }
      },
      "id": "is-javascript",
      "name": "Is JS?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -100
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.language }}",
              "value2": "python"
            }
          ]
        }
      },
      "id": "is-python",
      "name": "Is Python?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        100
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "cd /data/project && npm test && npm audit"
      },
      "id": "npm-test-audit",
      "name": "NPM Test & Audit",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        800,
        -150
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "cd /data/project && pytest && bandit -r ."
      },
      "id": "pytest-bandit",
      "name": "Pytest & Bandit",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        800,
        50
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"Analyze for gaps, placeholders, and security issues. Project info: {{ JSON.stringify($node[\\\"Polyglot Detection\\\"].json) }}\\nTest Results: {{ JSON.stringify($json) }}\"}, {\"role\": \"user\", \"content\": \"Provide a comprehensive SDLC report.\"}]"
            }
          ]
        }
      },
      "id": "ai-sdlc-report",
      "name": "AI SDLC Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1100,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Scan Project Files\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "ccf9b22d-7ac9-4f22-8d4b-4bc335dda9d6",
      "name": "Check: Scan Project Files (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "ed16e882-5757-43e5-88d4-ef7c8f5f00ce",
      "name": "Omniscient Fix: Scan Project Files (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Polyglot Detection\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "5660901f-1369-4d2c-aa10-62c982d6f54e",
      "name": "Check: Polyglot Detection (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "00c857c1-87bb-421e-a52e-796659d472ce",
      "name": "Omniscient Fix: Polyglot Detection (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Is JS?\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "2abb00b7-e986-4fdb-b3c2-8fb2e7f4b2e7",
      "name": "Check: Is JS? (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        -150
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "f9712b47-f39a-4ff5-84fe-80124eee4ca3",
      "name": "Omniscient Fix: Is JS? (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Is Python?\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "39a376da-5b83-42b3-b854-fd93bb28a6ac",
      "name": "Check: Is Python? (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "3479d1b5-deeb-4f92-b140-2d1ee5577454",
      "name": "Omniscient Fix: Is Python? (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"NPM Test & Audit\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "7cd16ee2-0dab-4da4-b06f-c5971fe47858",
      "name": "Check: NPM Test & Audit (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        -200
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "6cab08e7-86d7-47ab-94d6-52c9908402d0",
      "name": "Omniscient Fix: NPM Test & Audit (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1200,
        -150
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Pytest & Bandit\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "4407dba8-52cc-4e7a-8243-dd79f521df8c",
      "name": "Check: Pytest & Bandit (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fadd295d-516b-453d-8eec-a0b2c49d27bf",
      "name": "Omniscient Fix: Pytest & Bandit (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1200,
        50
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"AI SDLC Report\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "4eb84340-310f-470e-bb29-4331b1de9e59",
      "name": "Check: AI SDLC Report (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1300,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "1656b09d-d230-4c55-a2ff-fb15a3c0ad95",
      "name": "Omniscient Fix: AI SDLC Report (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1500,
        0
      ]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Scan Project Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Scan Project Files (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Scan Project Files (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Scan Project Files (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Scan Project Files (P0)": {
      "main": [
        [
          {
            "node": "Scan Project Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan Project Files": {
      "main": [
        [
          {
            "node": "Check: Scan Project Files (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Polyglot Detection (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Polyglot Detection (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Polyglot Detection (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Polyglot Detection (P0)": {
      "main": [
        [
          {
            "node": "Polyglot Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Polyglot Detection": {
      "main": [
        [
          {
            "node": "Check: Polyglot Detection (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Is JS? (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Is JS? (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Is JS? (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Is JS? (P0)": {
      "main": [
        [
          {
            "node": "Is JS?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is JS?": {
      "main": [
        [
          {
            "node": "Check: Is JS? (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Is Python? (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Is Python? (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Is Python? (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Is Python? (P0)": {
      "main": [
        [
          {
            "node": "Is Python?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Python?": {
      "main": [
        [
          {
            "node": "Check: Is Python? (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: NPM Test & Audit (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: NPM Test & Audit (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: NPM Test & Audit (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: NPM Test & Audit (P0)": {
      "main": [
        [
          {
            "node": "NPM Test & Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NPM Test & Audit": {
      "main": [
        [
          {
            "node": "Check: NPM Test & Audit (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Pytest & Bandit (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Pytest & Bandit (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Pytest & Bandit (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Pytest & Bandit (P0)": {
      "main": [
        [
          {
            "node": "Pytest & Bandit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pytest & Bandit": {
      "main": [
        [
          {
            "node": "Check: Pytest & Bandit (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: AI SDLC Report (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: AI SDLC Report (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: AI SDLC Report (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: AI SDLC Report (P0)": {
      "main": [
        [
          {
            "node": "AI SDLC Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI SDLC Report": {
      "main": [
        [
          {
            "node": "Check: AI SDLC Report (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}