src/workflows/security_patching.json
{
  "name": "Autonomous Security Patching",
  "nodes": [
    {
      "parameters": {
        "interval": 1,
        "unit": "days"
      },
      "id": "daily-trigger",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "trivy fs --format json /data/project"
      },
      "id": "trivy-scan",
      "name": "Trivy Scan",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"Analyze this Trivy JSON output and provide a shell command to patch the vulnerabilities (e.g., npm update, pip install --upgrade). Results: {{ $json.stdout }}\"}]"
            }
          ]
        }
      },
      "id": "ai-security-fixer",
      "name": "AI Security Fixer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        450,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "={{ $json.choices[0].message.content }} && cd /data/project && git add . && git commit -m \"Autonomous security patch applied\" && git push"
      },
      "id": "apply-patch",
      "name": "Apply Patch",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        700,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Trivy Scan\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "2b41ebb8-922c-453e-a05b-2eea19b4fa43",
      "name": "Check: Trivy Scan (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "1f4146db-abac-479f-9309-e6d5c3d3384c",
      "name": "Omniscient Fix: Trivy Scan (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"AI Security Fixer\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "1d755288-e47a-4445-89ee-6e369f061acb",
      "name": "Check: AI Security Fixer (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "f0f8e43f-bd40-41f7-9405-92fc453e4941",
      "name": "Omniscient Fix: AI Security Fixer (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        850,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Apply Patch\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "422ad710-512a-4a42-b29b-c0663b7d9ee3",
      "name": "Check: Apply Patch (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "f31bc348-f31a-4a82-8c00-074e6290e547",
      "name": "Omniscient Fix: Apply Patch (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1100,
        0
      ]
    }
  ],
  "connections": {
    "Check: Trivy Scan (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Trivy Scan (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Trivy Scan (P0)": {
      "main": [
        [
          {
            "node": "Trivy Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trivy Scan": {
      "main": [
        [
          {
            "node": "Check: Trivy Scan (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: AI Security Fixer (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: AI Security Fixer (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: AI Security Fixer (P0)": {
      "main": [
        [
          {
            "node": "AI Security Fixer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Security Fixer": {
      "main": [
        [
          {
            "node": "Check: AI Security Fixer (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Apply Patch (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Apply Patch (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Apply Patch (P0)": {
      "main": [
        [
          {
            "node": "Apply Patch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Patch": {
      "main": [
        [
          {
            "node": "Check: Apply Patch (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}