src/workflows/security_patching.json
{
  "name": "Autonomous Security Patching",
  "nodes": [
    {
      "parameters": {
        "interval": 1,
        "unit": "days"
      },
      "id": "daily-trigger",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "trivy fs --format json /data/project"
      },
      "id": "trivy-scan",
      "name": "Trivy Scan",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Trivy Scan\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-trivy-scan",
      "name": "Check: Trivy Scan",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        350,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-trivy-scan",
      "name": "Omniscient Fix: Trivy Scan",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        350,
        150
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"Analyze this Trivy JSON output and provide a shell command to patch the vulnerabilities (e.g., npm update, pip install --upgrade). Results: {{ $json.stdout }}\"}]"
            }
          ]
        }
      },
      "id": "ai-security-fixer",
      "name": "AI Security Fixer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        450,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"AI Security Fixer\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-ai-security-fixer",
      "name": "Check: AI Security Fixer",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-ai-security-fixer",
      "name": "Omniscient Fix: AI Security Fixer",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        150
      ]
    },
    {
      "parameters": {
        "command": "={{ $json.choices[0].message.content }} && cd /data/project && git add . && git commit -m \"Autonomous security patch applied\" && git push"
      },
      "id": "apply-patch",
      "name": "Apply Patch",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        700,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Apply Patch\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-apply-patch",
      "name": "Check: Apply Patch",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        850,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-apply-patch",
      "name": "Omniscient Fix: Apply Patch",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        850,
        150
      ]
    }
  ],
  "connections": {
    "Trivy Scan": {
      "main": [
        [
          {
            "node": "Check: Trivy Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Trivy Scan": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Trivy Scan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Trivy Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Trivy Scan": {
      "main": [
        [
          {
            "node": "Trivy Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Security Fixer": {
      "main": [
        [
          {
            "node": "Check: AI Security Fixer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: AI Security Fixer": {
      "main": [
        [
          {
            "node": "Omniscient Fix: AI Security Fixer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: AI Security Fixer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: AI Security Fixer": {
      "main": [
        [
          {
            "node": "AI Security Fixer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Patch": {
      "main": [
        [
          {
            "node": "Check: Apply Patch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Apply Patch": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Apply Patch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Apply Patch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Apply Patch": {
      "main": [
        [
          {
            "node": "Apply Patch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}