src/workflows/self_optimizing_iac.json
{
  "name": "Self-Optimizing Infrastructure",
  "nodes": [
    {
      "parameters": {
        "interval": 4,
        "unit": "hours"
      },
      "id": "resource-trigger",
      "name": "Resource Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "docker stats --no-stream --format '{{.Container}}: {{.MemUsage}}' | grep n8n"
      },
      "id": "get-resource-usage",
      "name": "Get Resource Usage",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Get Resource Usage\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-get-resource-usage",
      "name": "Check: Get Resource Usage",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        350,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-get-resource-usage",
      "name": "Omniscient Fix: Get Resource Usage",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        350,
        150
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You are a DevOps engineer. Analyze this memory usage: {{ $json.stdout }}. If usage is above 80%, generate an OpenTofu (HCL) snippet to increase memory limits for the docker container. Return ONLY the HCL.\"}]"
            }
          ]
        }
      },
      "id": "ai-optimizer",
      "name": "AI Optimizer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"AI Optimizer\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-ai-optimizer",
      "name": "Check: AI Optimizer",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        550,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-ai-optimizer",
      "name": "Omniscient Fix: AI Optimizer",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        550,
        150
      ]
    }
  ],
  "connections": {
    "Get Resource Usage": {
      "main": [
        [
          {
            "node": "Check: Get Resource Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Get Resource Usage": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Get Resource Usage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Get Resource Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Get Resource Usage": {
      "main": [
        [
          {
            "node": "Get Resource Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Optimizer": {
      "main": [
        [
          {
            "node": "Check: AI Optimizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: AI Optimizer": {
      "main": [
        [
          {
            "node": "Omniscient Fix: AI Optimizer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: AI Optimizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: AI Optimizer": {
      "main": [
        [
          {
            "node": "AI Optimizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}