src/workflows/self_evolution.json
{
  "name": "Prompt Self-Evolution Routine",
  "nodes": [
    {
      "parameters": {
        "interval": 1,
        "unit": "weeks"
      },
      "id": "weekly-trigger",
      "name": "Weekly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "cat /data/project/SDLC_PERF.log"
      },
      "id": "read-logs",
      "name": "Read Performance Logs",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"Analyze these logs and suggest improved system prompts for n8n. Current prompts: {{ JSON.stringify($node[\\\"Read Performance Logs\\\"].json) }}. Return a new prompts.json format.\"}]"
            }
          ]
        }
      },
      "id": "ai-evolve-prompts",
      "name": "AI Evolve Prompts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "echo \"{{ $json.choices[0].message.content }}\" > /data/project/setup/prompts.json"
      },
      "id": "update-prompts-file",
      "name": "Update Prompts File",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        600,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Read Performance Logs\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "dfc16767-bca2-4689-b83d-eecff4d43f2e",
      "name": "Check: Read Performance Logs (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "dc3d4722-b030-4267-bf9c-81fcdb5c5430",
      "name": "Omniscient Fix: Read Performance Logs (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"AI Evolve Prompts\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "e7971ce2-864b-4b70-b965-cabdc479debf",
      "name": "Check: AI Evolve Prompts (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "6112b8a6-85fc-4ad6-9935-bba82bd6eee5",
      "name": "Omniscient Fix: AI Evolve Prompts (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Update Prompts File\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "cf8e9512-4cd1-4f14-9890-0f864994ef11",
      "name": "Check: Update Prompts File (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "45f27897-cb79-4992-b379-d17c8738d425",
      "name": "Omniscient Fix: Update Prompts File (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        0
      ]
    }
  ],
  "connections": {
    "Check: Read Performance Logs (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Read Performance Logs (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Read Performance Logs (P0)": {
      "main": [
        [
          {
            "node": "Read Performance Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Performance Logs": {
      "main": [
        [
          {
            "node": "Check: Read Performance Logs (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: AI Evolve Prompts (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: AI Evolve Prompts (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: AI Evolve Prompts (P0)": {
      "main": [
        [
          {
            "node": "AI Evolve Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Evolve Prompts": {
      "main": [
        [
          {
            "node": "Check: AI Evolve Prompts (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Update Prompts File (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Update Prompts File (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Update Prompts File (P0)": {
      "main": [
        [
          {
            "node": "Update Prompts File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Prompts File": {
      "main": [
        [
          {
            "node": "Check: Update Prompts File (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}