src/workflows/self_fixing_routine.json
{
  "name": "Workflow Self-Fixing Routine",
  "nodes": [
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.N8N_HOST }}/api/v1/workflows/{{ $json.workflow.id }}",
        "authentication": "headerAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.N8N_API_KEY }}"
            }
          ]
        }
      },
      "id": "get-workflow-json",
      "name": "Get Workflow JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You are an n8n expert. Fix the following workflow JSON based on the provided error. Return ONLY the valid JSON of the nodes and connections, wrapped in ```json blocks.\"}, {\"role\": \"user\", \"content\": \"Error: {{ $node[\\\"Error Trigger\\\"].json.execution.error.message }}\\nWorkflow: {{ JSON.stringify($json) }}\"}]"
            }
          ]
        }
      },
      "id": "ai-workflow-fixer",
      "name": "AI Workflow Fixer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const content = $node[\"AI Workflow Fixer\"].json.choices[0].message.content;\nconst match = content.match(/```json\\n([\\s\\S]*?)\\n```/);\nconst jsonStr = match ? match[1] : content;\nreturn JSON.parse(jsonStr.trim());"
      },
      "id": "parse-workflow-fix",
      "name": "Parse Workflow Fix",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.N8N_HOST }}/api/v1/workflows/{{ $node[\\\"Error Trigger\\\"].json.workflow.id }}",
        "authentication": "headerAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.N8N_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nodes",
              "value": "={{ $json.nodes }}"
            },
            {
              "name": "connections",
              "value": "={{ $json.connections }}"
            }
          ]
        }
      },
      "id": "update-workflow",
      "name": "Update Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        800,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Get Workflow JSON\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "38260819-ef38-4872-aa3c-a705e8ed1e97",
      "name": "Check: Get Workflow JSON (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "cb860811-6fed-4c80-b4ab-1fd6d2f6c122",
      "name": "Omniscient Fix: Get Workflow JSON (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"AI Workflow Fixer\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "74925bca-2885-484f-8918-8246d0270a64",
      "name": "Check: AI Workflow Fixer (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "4b8c866f-6f92-4ed9-82ef-5ff6f3407e2b",
      "name": "Omniscient Fix: AI Workflow Fixer (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Parse Workflow Fix\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "2a83a5e9-5232-48b7-a008-4788ebe9849e",
      "name": "Check: Parse Workflow Fix (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "7fc459df-5da9-43aa-9951-fc3be910b79e",
      "name": "Omniscient Fix: Parse Workflow Fix (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Update Workflow\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "fa60f35f-c813-4b3d-a4d0-58b45e8e5c69",
      "name": "Check: Update Workflow (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "0c725aec-e1dc-40f0-9633-45f566e08128",
      "name": "Omniscient Fix: Update Workflow (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1200,
        0
      ]
    }
  ],
  "connections": {
    "Check: Get Workflow JSON (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Get Workflow JSON (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Get Workflow JSON (P0)": {
      "main": [
        [
          {
            "node": "Get Workflow JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow JSON": {
      "main": [
        [
          {
            "node": "Check: Get Workflow JSON (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: AI Workflow Fixer (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: AI Workflow Fixer (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: AI Workflow Fixer (P0)": {
      "main": [
        [
          {
            "node": "AI Workflow Fixer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Workflow Fixer": {
      "main": [
        [
          {
            "node": "Check: AI Workflow Fixer (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Parse Workflow Fix (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Parse Workflow Fix (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Parse Workflow Fix (P0)": {
      "main": [
        [
          {
            "node": "Parse Workflow Fix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Workflow Fix": {
      "main": [
        [
          {
            "node": "Check: Parse Workflow Fix (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Update Workflow (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Update Workflow (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Update Workflow (P0)": {
      "main": [
        [
          {
            "node": "Update Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Workflow": {
      "main": [
        [
          {
            "node": "Check: Update Workflow (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}