src/workflows/self_fixing_routine.json
{
  "name": "Workflow Self-Fixing Routine",
  "nodes": [
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.N8N_HOST }}/api/v1/workflows/{{ $json.workflow.id }}",
        "authentication": "headerAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.N8N_API_KEY }}"
            }
          ]
        }
      },
      "id": "get-workflow-json",
      "name": "Get Workflow JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You are an n8n expert. Fix the following workflow JSON based on the provided error. Return ONLY the valid JSON of the nodes and connections, wrapped in ```json blocks.\"}, {\"role\": \"user\", \"content\": \"Error: {{ $node[\\\"Error Trigger\\\"].json.execution.error.message }}\\nWorkflow: {{ JSON.stringify($json) }}\"}]"
            }
          ]
        }
      },
      "id": "ai-workflow-fixer",
      "name": "AI Workflow Fixer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const content = $node[\"AI Workflow Fixer\"].json.choices[0].message.content;\nconst match = content.match(/```json\\n([\\s\\S]*?)\\n```/);\nconst jsonStr = match ? match[1] : content;\nreturn JSON.parse(jsonStr.trim());"
      },
      "id": "parse-workflow-fix",
      "name": "Parse Workflow Fix",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.N8N_HOST }}/api/v1/workflows/{{ $node[\\\"Error Trigger\\\"].json.workflow.id }}",
        "authentication": "headerAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.N8N_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nodes",
              "value": "={{ $json.nodes }}"
            },
            {
              "name": "connections",
              "value": "={{ $json.connections }}"
            }
          ]
        }
      },
      "id": "update-workflow",
      "name": "Update Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        800,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Get Workflow JSON\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "d1714ecb-1dee-4079-8583-ae071a9d0f94",
      "name": "Check: Get Workflow JSON (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "63cacea7-9f8a-45c0-88d6-37692fb729eb",
      "name": "Omniscient Fix: Get Workflow JSON (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"AI Workflow Fixer\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "2574a82a-c930-43e3-82c0-175264e0009d",
      "name": "Check: AI Workflow Fixer (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "658825b0-4d71-4449-b3fb-61ca568e70b5",
      "name": "Omniscient Fix: AI Workflow Fixer (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Parse Workflow Fix\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "b2238415-996e-4d84-bc83-ba7da9eb1cf9",
      "name": "Check: Parse Workflow Fix (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "b83d0c75-beed-4d4c-b646-5e6d18e7f6a6",
      "name": "Omniscient Fix: Parse Workflow Fix (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Update Workflow\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "eb257ed3-9982-46ee-80de-2861ac8e3f4b",
      "name": "Check: Update Workflow (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "0b204cf6-b39a-46f4-ae80-efa24c4b4a3e",
      "name": "Omniscient Fix: Update Workflow (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1200,
        0
      ]
    }
  ],
  "connections": {
    "Check: Get Workflow JSON (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Get Workflow JSON (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Get Workflow JSON (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Get Workflow JSON (P0)": {
      "main": [
        [
          {
            "node": "Get Workflow JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow JSON": {
      "main": [
        [
          {
            "node": "Check: Get Workflow JSON (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: AI Workflow Fixer (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: AI Workflow Fixer (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: AI Workflow Fixer (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: AI Workflow Fixer (P0)": {
      "main": [
        [
          {
            "node": "AI Workflow Fixer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Workflow Fixer": {
      "main": [
        [
          {
            "node": "Check: AI Workflow Fixer (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Parse Workflow Fix (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Parse Workflow Fix (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Parse Workflow Fix (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Parse Workflow Fix (P0)": {
      "main": [
        [
          {
            "node": "Parse Workflow Fix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Workflow Fix": {
      "main": [
        [
          {
            "node": "Check: Parse Workflow Fix (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Update Workflow (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Update Workflow (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Update Workflow (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Update Workflow (P0)": {
      "main": [
        [
          {
            "node": "Update Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Workflow": {
      "main": [
        [
          {
            "node": "Check: Update Workflow (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}