src/workflows/self_evolution.json
{
  "name": "Prompt Self-Evolution Routine",
  "nodes": [
    {
      "parameters": {
        "interval": 1,
        "unit": "weeks"
      },
      "id": "weekly-trigger",
      "name": "Weekly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "cat /data/project/SDLC_PERF.log"
      },
      "id": "read-logs",
      "name": "Read Performance Logs",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"Analyze these logs and suggest improved system prompts for n8n. Current prompts: {{ JSON.stringify($node[\\\"Read Performance Logs\\\"].json) }}. Return a new prompts.json format.\"}]"
            }
          ]
        }
      },
      "id": "ai-evolve-prompts",
      "name": "AI Evolve Prompts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "echo \"{{ $json.choices[0].message.content }}\" > /data/project/setup/prompts.json"
      },
      "id": "update-prompts-file",
      "name": "Update Prompts File",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        600,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Read Performance Logs\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "27abd06a-747b-482c-a714-3f5f3c80a830",
      "name": "Check: Read Performance Logs (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "be10fc1f-fdd9-4e5e-8154-a61ed09799b0",
      "name": "Omniscient Fix: Read Performance Logs (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"AI Evolve Prompts\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "ca94f69d-acdb-49ec-88a6-e6cb94948a04",
      "name": "Check: AI Evolve Prompts (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "13d6a29f-1fe3-4525-b13f-0a8a719f9938",
      "name": "Omniscient Fix: AI Evolve Prompts (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Update Prompts File\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "efe99e89-cf1d-4e98-8685-6d477aed0546",
      "name": "Check: Update Prompts File (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "44171509-29e0-440d-90dc-6abbda743ea1",
      "name": "Omniscient Fix: Update Prompts File (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        0
      ]
    }
  ],
  "connections": {
    "Check: Read Performance Logs (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Read Performance Logs (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Read Performance Logs (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Read Performance Logs (P0)": {
      "main": [
        [
          {
            "node": "Read Performance Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Performance Logs": {
      "main": [
        [
          {
            "node": "Check: Read Performance Logs (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: AI Evolve Prompts (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: AI Evolve Prompts (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: AI Evolve Prompts (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: AI Evolve Prompts (P0)": {
      "main": [
        [
          {
            "node": "AI Evolve Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Evolve Prompts": {
      "main": [
        [
          {
            "node": "Check: AI Evolve Prompts (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Update Prompts File (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Update Prompts File (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Update Prompts File (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Update Prompts File (P0)": {
      "main": [
        [
          {
            "node": "Update Prompts File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Prompts File": {
      "main": [
        [
          {
            "node": "Check: Update Prompts File (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}