src/workflows/staging_promotion.json
{
  "name": "Staging & Promotion Routine",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "promote-trigger",
      "name": "Promote Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "cd /data/project && (npm test || pytest)"
      },
      "id": "verify-staging",
      "name": "Verify Staging",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.exitCode }}",
              "value2": 0
            }
          ]
        }
      },
      "id": "staging-passed",
      "name": "Staging Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "cd /data/project && tofu apply -var=\"env=production\" -auto-approve"
      },
      "id": "promote-to-prod",
      "name": "Promote to Prod",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        600,
        -50
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Promote Trigger\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "9601cccc-5cb7-4d6e-a5f6-12b004a84988",
      "name": "Check: Promote Trigger (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        200,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "7775f252-8c9e-4cda-b470-1d1213e5b179",
      "name": "Omniscient Fix: Promote Trigger (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Verify Staging\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "c592b45b-cb83-4167-905f-9eb2c281f9e5",
      "name": "Check: Verify Staging (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "0ff67d22-9efa-4b0b-92f9-c5babd4779f7",
      "name": "Omniscient Fix: Verify Staging (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Staging Passed?\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "db83709e-a222-4dc5-9e5e-16937fd07f8b",
      "name": "Check: Staging Passed? (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "cf11007f-0e07-42f7-abd3-7e28db73be7d",
      "name": "Omniscient Fix: Staging Passed? (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Promote to Prod\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "d6042ca7-a52b-46c8-adcb-9153b8ab9f2a",
      "name": "Check: Promote to Prod (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        -150
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "3772d5f8-a79b-4866-a620-3fa5f7798072",
      "name": "Omniscient Fix: Promote to Prod (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        -50
      ]
    }
  ],
  "connections": {
    "Check: Promote Trigger (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Promote Trigger (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Promote Trigger (P0)": {
      "main": [
        [
          {
            "node": "Promote Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Promote Trigger": {
      "main": [
        [
          {
            "node": "Check: Promote Trigger (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Verify Staging (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Verify Staging (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Verify Staging (P0)": {
      "main": [
        [
          {
            "node": "Verify Staging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Staging": {
      "main": [
        [
          {
            "node": "Check: Verify Staging (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Staging Passed? (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Staging Passed? (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Staging Passed? (P0)": {
      "main": [
        [
          {
            "node": "Staging Passed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Staging Passed?": {
      "main": [
        [
          {
            "node": "Check: Staging Passed? (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Promote to Prod (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Promote to Prod (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Promote to Prod (P0)": {
      "main": [
        [
          {
            "node": "Promote to Prod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Promote to Prod": {
      "main": [
        [
          {
            "node": "Check: Promote to Prod (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}