src/workflows/staging_promotion.json
{
  "name": "Staging & Promotion Routine",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "promote-trigger",
      "name": "Promote Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "cd /data/project && (npm test || pytest)"
      },
      "id": "verify-staging",
      "name": "Verify Staging",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.exitCode }}",
              "value2": 0
            }
          ]
        }
      },
      "id": "staging-passed",
      "name": "Staging Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "cd /data/project && tofu apply -var=\"env=production\" -auto-approve"
      },
      "id": "promote-to-prod",
      "name": "Promote to Prod",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        600,
        -50
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Promote Trigger\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "95e03d80-b77b-494a-a832-99931d0ac9d8",
      "name": "Check: Promote Trigger (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        200,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "f570a91b-bce4-4986-ab44-536d1eaa60b3",
      "name": "Omniscient Fix: Promote Trigger (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Verify Staging\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "b44c2114-f8c6-4585-b083-925fca72a591",
      "name": "Check: Verify Staging (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "1905e0d4-bbbc-4ca3-8f4a-41e8fce031ef",
      "name": "Omniscient Fix: Verify Staging (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Staging Passed?\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "2580bb70-5f00-4289-b14c-99c3b3507518",
      "name": "Check: Staging Passed? (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "32aef40c-5dac-4047-856d-85c0d5409b54",
      "name": "Omniscient Fix: Staging Passed? (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Promote to Prod\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "ffb8b40a-1d3b-4760-8bd4-e013eb3a021b",
      "name": "Check: Promote to Prod (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "d81f1df5-31a9-4aa6-a551-608bc8e46ed0",
      "name": "Omniscient Fix: Promote to Prod (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        -50
      ]
    }
  ],
  "connections": {
    "Check: Promote Trigger (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Promote Trigger (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Promote Trigger (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Promote Trigger (P0)": {
      "main": [
        [
          {
            "node": "Promote Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Promote Trigger": {
      "main": [
        [
          {
            "node": "Check: Promote Trigger (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Verify Staging (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Verify Staging (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Verify Staging (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Verify Staging (P0)": {
      "main": [
        [
          {
            "node": "Verify Staging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Staging": {
      "main": [
        [
          {
            "node": "Check: Verify Staging (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Staging Passed? (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Staging Passed? (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Staging Passed? (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Staging Passed? (P0)": {
      "main": [
        [
          {
            "node": "Staging Passed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Staging Passed?": {
      "main": [
        [
          {
            "node": "Check: Staging Passed? (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Promote to Prod (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Promote to Prod (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Promote to Prod (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Promote to Prod (P0)": {
      "main": [
        [
          {
            "node": "Promote to Prod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Promote to Prod": {
      "main": [
        [
          {
            "node": "Check: Promote to Prod (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}