src/workflows/stress_test_orchestrator.json
{
  "name": "Stress Test Orchestrator",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Manual Trigger\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-manual-trigger",
      "name": "Check: Manual Trigger",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        150,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-manual-trigger",
      "name": "Omniscient Fix: Manual Trigger",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        150,
        150
      ]
    },
    {
      "parameters": {
        "command": "python3 /home/jules/self_created_tools/stress_tester.py"
      },
      "id": "run-stress-test",
      "name": "Run Stress Test",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Run Stress Test\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-run-stress-test",
      "name": "Check: Run Stress Test",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        350,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-run-stress-test",
      "name": "Omniscient Fix: Run Stress Test",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        350,
        150
      ]
    },
    {
      "parameters": {
        "command": "echo \"Stress test completed at $(date). Results: {{ $json.stdout }}\" >> /data/project/SDLC_PERF.log"
      },
      "id": "log-performance",
      "name": "Log Performance",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Log Performance\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-log-performance",
      "name": "Check: Log Performance",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        550,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-log-performance",
      "name": "Omniscient Fix: Log Performance",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        550,
        150
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Check: Manual Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Manual Trigger": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Manual Trigger",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Manual Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Manual Trigger": {
      "main": [
        [
          {
            "node": "Manual Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Stress Test": {
      "main": [
        [
          {
            "node": "Check: Run Stress Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Run Stress Test": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Run Stress Test",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Run Stress Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Run Stress Test": {
      "main": [
        [
          {
            "node": "Run Stress Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Performance": {
      "main": [
        [
          {
            "node": "Check: Log Performance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Log Performance": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Log Performance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Log Performance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Log Performance": {
      "main": [
        [
          {
            "node": "Log Performance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}