src/workflows/stress_test_orchestrator.json
{
  "name": "Stress Test Orchestrator",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "python3 /home/jules/self_created_tools/stress_tester.py"
      },
      "id": "run-stress-test",
      "name": "Run Stress Test",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "echo \"Stress test completed at $(date). Results: {{ $json.stdout }}\" >> /data/project/SDLC_PERF.log"
      },
      "id": "log-performance",
      "name": "Log Performance",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Manual Trigger\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "ce980d5d-11e5-47e6-83c9-e80c5e05f8f8",
      "name": "Check: Manual Trigger (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        200,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "09fd844b-db1f-4a1e-8aff-5b669ed0fc33",
      "name": "Omniscient Fix: Manual Trigger (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Run Stress Test\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "d22808c7-5d67-4353-b642-4cb564934d5e",
      "name": "Check: Run Stress Test (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "f2b6dfba-1588-42a8-90cf-ff03fa5cbdfa",
      "name": "Omniscient Fix: Run Stress Test (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Log Performance\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "bd790dd6-0e82-4356-aa3e-723d000afc2a",
      "name": "Check: Log Performance (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "71f9b27f-d688-4dff-956d-84a3975f0cb5",
      "name": "Omniscient Fix: Log Performance (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    }
  ],
  "connections": {
    "Check: Manual Trigger (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Manual Trigger (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Manual Trigger (P0)": {
      "main": [
        [
          {
            "node": "Manual Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Check: Manual Trigger (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Run Stress Test (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Run Stress Test (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Run Stress Test (P0)": {
      "main": [
        [
          {
            "node": "Run Stress Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Stress Test": {
      "main": [
        [
          {
            "node": "Check: Run Stress Test (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Log Performance (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Log Performance (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Log Performance (P0)": {
      "main": [
        [
          {
            "node": "Log Performance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Performance": {
      "main": [
        [
          {
            "node": "Check: Log Performance (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}