src/workflows/swarm_coordinator.json
{
  "name": "Multi-Agent Swarm Coordinator",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "swarm-trigger",
      "name": "Swarm Trigger",
      "type": "n8n-nodes-base.chatTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { agent: 'improvements' } },\n  { json: { agent: 'enhancements' } },\n  { json: { agent: 'feature_addons' } },\n  { json: { agent: 'functions_addon' } },\n  { json: { agent: 'monitoring' } },\n  { json: { agent: 'task_orchestration' } },\n  { json: { agent: 'architect' } },\n  { json: { agent: 'building' } },\n  { json: { agent: 'planning' } },\n  { json: { agent: 'analysis' } },\n  { json: { agent: 'design' } },\n  { json: { agent: 'development' } },\n  { json: { agent: 'testing' } },\n  { json: { agent: 'error_fixing' } },\n  { json: { agent: 'deployment' } },\n  { json: { agent: 'maintenance' } },\n  { json: { agent: 'expansion' } },\n  { json: { agent: 'security' } },\n  { json: { agent: 'performance' } },\n  { json: { agent: 'ui_ux' } },\n  { json: { agent: 'database' } }\n];"
      },
      "id": "spawn-swarm",
      "name": "Spawn Swarm",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": "agent_executor"
      },
      "id": "execute-agent",
      "name": "Execute Agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Spawn Swarm\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "bc13953d-809e-42ea-93eb-e98c7cfda5bf",
      "name": "Check: Spawn Swarm (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "0ba7c40b-9a47-4af0-8e30-0b6dfe33878d",
      "name": "Omniscient Fix: Spawn Swarm (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Execute Agent\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "9f09898a-70ec-4df9-9abf-64fe3edac283",
      "name": "Check: Execute Agent (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "2d7012fa-38c6-478c-8af6-4a6eced13294",
      "name": "Omniscient Fix: Execute Agent (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    }
  ],
  "connections": {
    "Swarm Trigger": {
      "main": [
        [
          {
            "node": "Spawn Swarm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Spawn Swarm (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Spawn Swarm (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Spawn Swarm (P0)": {
      "main": [
        [
          {
            "node": "Spawn Swarm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spawn Swarm": {
      "main": [
        [
          {
            "node": "Check: Spawn Swarm (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Execute Agent (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Execute Agent (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Execute Agent (P0)": {
      "main": [
        [
          {
            "node": "Execute Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Agent": {
      "main": [
        [
          {
            "node": "Check: Execute Agent (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}