src/workflows/task_orchestrator.json
{
  "name": "SDLC Task Orchestrator",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "chat-trigger",
      "name": "Chat Trigger",
      "type": "n8n-nodes-base.chatTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You are a lead architect. Break the user's request into a detailed development plan. Return ONLY a JSON array of objects: [{ 'file': 'path/to/file', 'action': 'create|modify', 'description': '...' }]\"}, {\"role\": \"user\", \"content\": \"{{ $json.chatInput }}\"}]"
            }
          ]
        }
      },
      "id": "ai-planner",
      "name": "AI Planner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"AI Planner\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-ai-planner",
      "name": "Check: AI Planner",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        350,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-ai-planner",
      "name": "Omniscient Fix: AI Planner",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        350,
        150
      ]
    },
    {
      "parameters": {
        "jsCode": "const content = $node[\"AI Planner\"].json.choices[0].message.content;\nconst match = content.match(/```json\\n([\\s\\S]*?)\\n```/);\nconst plan = match ? JSON.parse(match[1]) : JSON.parse(content);\nreturn plan.map(task => ({ json: task }));"
      },
      "id": "parse-plan",
      "name": "Parse Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Parse Plan\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-parse-plan",
      "name": "Check: Parse Plan",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        550,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-parse-plan",
      "name": "Omniscient Fix: Parse Plan",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        550,
        150
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You are an implementer. Write the code for the following task. Return ONLY the code in ``` blocks.\"}, {\"role\": \"user\", \"content\": \"{{ JSON.stringify($json) }}\"}]"
            }
          ]
        }
      },
      "id": "ai-coder",
      "name": "AI Coder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        600,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"AI Coder\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-ai-coder",
      "name": "Check: AI Coder",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        750,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-ai-coder",
      "name": "Omniscient Fix: AI Coder",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        750,
        150
      ]
    },
    {
      "parameters": {
        "jsCode": "const content = $node[\"ai-coder\"].json.choices[0].message.content;\nconst match = content.match(/```(?:[\\w]*)\\n([\\s\\S]*?)\\n```/);\nconst code = match ? match[1] : content;\nreturn { code, file: $json.file };"
      },
      "id": "extract-code",
      "name": "Extract Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Extract Code\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-extract-code",
      "name": "Check: Extract Code",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        950,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-extract-code",
      "name": "Omniscient Fix: Extract Code",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        950,
        150
      ]
    },
    {
      "parameters": {
        "command": "=cat <<EOF > \"/data/project/{{ $json.file }}\"\n{{ $json.code }}\nEOF"
      },
      "id": "write-file",
      "name": "Write File",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1000,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Write File\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "check-write-file",
      "name": "Check: Write File",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1150,
        50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fix-write-file",
      "name": "Omniscient Fix: Write File",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1150,
        150
      ]
    }
  ],
  "connections": {
    "AI Planner": {
      "main": [
        [
          {
            "node": "Check: AI Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: AI Planner": {
      "main": [
        [
          {
            "node": "Omniscient Fix: AI Planner",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: AI Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: AI Planner": {
      "main": [
        [
          {
            "node": "AI Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Plan": {
      "main": [
        [
          {
            "node": "Check: Parse Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Parse Plan": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Parse Plan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Parse Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Parse Plan": {
      "main": [
        [
          {
            "node": "Parse Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Coder": {
      "main": [
        [
          {
            "node": "Check: AI Coder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: AI Coder": {
      "main": [
        [
          {
            "node": "Omniscient Fix: AI Coder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: AI Coder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: AI Coder": {
      "main": [
        [
          {
            "node": "AI Coder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Code": {
      "main": [
        [
          {
            "node": "Check: Extract Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Extract Code": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Extract Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Extract Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Extract Code": {
      "main": [
        [
          {
            "node": "Extract Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write File": {
      "main": [
        [
          {
            "node": "Check: Write File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Write File": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Write File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Write File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Write File": {
      "main": [
        [
          {
            "node": "Write File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}