src/workflows/task_orchestrator.json
{
  "name": "SDLC Task Orchestrator",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "chat-trigger",
      "name": "Chat Trigger",
      "type": "n8n-nodes-base.chatTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You are a lead architect. Break the user's request into a detailed development plan. Return ONLY a JSON array of objects: [{ 'file': 'path/to/file', 'action': 'create|modify', 'description': '...' }]\"}, {\"role\": \"user\", \"content\": \"{{ $json.chatInput }}\"}]"
            }
          ]
        }
      },
      "id": "ai-planner",
      "name": "AI Planner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const content = $node[\"AI Planner\"].json.choices[0].message.content;\nconst match = content.match(/```json\\n([\\s\\S]*?)\\n```/);\nconst plan = match ? JSON.parse(match[1]) : JSON.parse(content);\nreturn plan.map(task => ({ json: task }));"
      },
      "id": "parse-plan",
      "name": "Parse Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-001"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You are an implementer. Write the code for the following task. Return ONLY the code in ``` blocks.\"}, {\"role\": \"user\", \"content\": \"{{ JSON.stringify($json) }}\"}]"
            }
          ]
        }
      },
      "id": "ai-coder",
      "name": "AI Coder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        600,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const content = $node[\"ai-coder\"].json.choices[0].message.content;\nconst match = content.match(/```(?:[\\w]*)\\n([\\s\\S]*?)\\n```/);\nconst code = match ? match[1] : content;\nreturn { code, file: $json.file };"
      },
      "id": "extract-code",
      "name": "Extract Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=cat <<EOF > \"/data/project/{{ $json.file }}\"\n{{ $json.code }}\nEOF"
      },
      "id": "write-file",
      "name": "Write File",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1000,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"AI Planner\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "2b06c9c8-f59f-452d-a99a-d185b6380a32",
      "name": "Check: AI Planner (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fe3b542d-a8b9-4369-8584-31eaa14ecc61",
      "name": "Omniscient Fix: AI Planner (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Parse Plan\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "a880477c-ac88-4a20-8374-6e3ea50512a7",
      "name": "Check: Parse Plan (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fb0e766c-a66b-4683-9377-be97e0218ffd",
      "name": "Omniscient Fix: Parse Plan (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"AI Coder\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "9fb06317-454a-4b07-88d0-f3cd606ce6e7",
      "name": "Check: AI Coder (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "df89c9ae-dfc3-46e2-a544-5131a67db808",
      "name": "Omniscient Fix: AI Coder (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Extract Code\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "e89bc29b-de05-4afd-b0b4-fac78147cae3",
      "name": "Check: Extract Code (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "a7a19a4c-e462-48ca-8f6a-529e164f7e2e",
      "name": "Omniscient Fix: Extract Code (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Write File\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "b4add856-45e1-4839-8c43-be19467ab442",
      "name": "Check: Write File (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1200,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "fe7fe4ea-95f9-4392-940d-e1b994d62e06",
      "name": "Omniscient Fix: Write File (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1400,
        0
      ]
    }
  ],
  "connections": {
    "Check: AI Planner (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: AI Planner (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: AI Planner (P0)": {
      "main": [
        [
          {
            "node": "AI Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Planner": {
      "main": [
        [
          {
            "node": "Check: AI Planner (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Parse Plan (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Parse Plan (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Parse Plan (P0)": {
      "main": [
        [
          {
            "node": "Parse Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Plan": {
      "main": [
        [
          {
            "node": "Check: Parse Plan (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: AI Coder (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: AI Coder (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: AI Coder (P0)": {
      "main": [
        [
          {
            "node": "AI Coder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Coder": {
      "main": [
        [
          {
            "node": "Check: AI Coder (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Extract Code (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Extract Code (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Extract Code (P0)": {
      "main": [
        [
          {
            "node": "Extract Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Code": {
      "main": [
        [
          {
            "node": "Check: Extract Code (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Write File (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Write File (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Write File (P0)": {
      "main": [
        [
          {
            "node": "Write File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write File": {
      "main": [
        [
          {
            "node": "Check: Write File (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}