src/workflows/voice_trigger.json
{
  "name": "Voice-to-SDLC Trigger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice-trigger",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Voice Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "whisper /tmp/audio.wav --model tiny --language en"
      },
      "id": "whisper-transcribe",
      "name": "Whisper Transcribe",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": "god_mode_orchestrator",
        "parameters": {
          "chatInput": "={{ $json.stdout }}"
        }
      },
      "id": "trigger-brain",
      "name": "Trigger Brain",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Whisper Transcribe\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "c5e9ee1f-00d0-45f1-ba4d-0c339ccc0802",
      "name": "Check: Whisper Transcribe (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "6342d035-9876-4e27-bc25-55f172e86740",
      "name": "Omniscient Fix: Whisper Transcribe (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Trigger Brain\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "39838e2e-4cd6-4011-89fa-9dedf278b6b2",
      "name": "Check: Trigger Brain (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -50
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "650e7a1f-5612-46cb-90cf-7d0f6888dc14",
      "name": "Omniscient Fix: Trigger Brain (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    }
  ],
  "connections": {
    "Check: Whisper Transcribe (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Whisper Transcribe (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Whisper Transcribe (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Whisper Transcribe (P0)": {
      "main": [
        [
          {
            "node": "Whisper Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper Transcribe": {
      "main": [
        [
          {
            "node": "Check: Whisper Transcribe (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Trigger Brain (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Trigger Brain (P0)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Trigger Brain (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omniscient Fix: Trigger Brain (P0)": {
      "main": [
        [
          {
            "node": "Trigger Brain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Brain": {
      "main": [
        [
          {
            "node": "Check: Trigger Brain (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}