src/workflows/voice_trigger.json
{
  "name": "Voice-to-SDLC Trigger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice-trigger",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Voice Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "whisper /tmp/audio.wav --model tiny --language en"
      },
      "id": "whisper-transcribe",
      "name": "Whisper Transcribe",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": "god_mode_orchestrator",
        "parameters": {
          "chatInput": "={{ $json.stdout }}"
        }
      },
      "id": "trigger-brain",
      "name": "Trigger Brain",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Whisper Transcribe\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "422085b3-7efe-4f8f-a083-5ae8141819d2",
      "name": "Check: Whisper Transcribe (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "9cfa4547-2e5f-4ed7-ab82-c896d80c0eb6",
      "name": "Omniscient Fix: Whisper Transcribe (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={ $node[\"Trigger Brain\"].error !== undefined }",
              "value2": true
            }
          ]
        }
      },
      "id": "35289fed-7fd2-4cee-a556-19fc818d3918",
      "name": "Check: Trigger Brain (P0)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -100
      ]
    },
    {
      "parameters": {
        "workflowId": "omniscient_error_orchestrator",
        "options": {
          "waitForResults": true
        }
      },
      "id": "4a73d7af-950b-4bc3-b548-1c5f81ae69d2",
      "name": "Omniscient Fix: Trigger Brain (P0)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    }
  ],
  "connections": {
    "Check: Whisper Transcribe (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Whisper Transcribe (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Whisper Transcribe (P0)": {
      "main": [
        [
          {
            "node": "Whisper Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper Transcribe": {
      "main": [
        [
          {
            "node": "Check: Whisper Transcribe (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Trigger Brain (P0)": {
      "main": [
        [
          {
            "node": "Omniscient Fix: Trigger Brain (P0)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Omniscient Fix: Trigger Brain (P0)": {
      "main": [
        [
          {
            "node": "Trigger Brain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Brain": {
      "main": [
        [
          {
            "node": "Check: Trigger Brain (P0)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}